client/master/jade/views/alarms.jade
h3 Alarms List
    small search and filter alarms
.row.jobs.completed
    .col-lg-12
        .panel.panel-default
            .overlay(ng-show="loading")
                .loading
                    span(us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}")
                    .wait Please wait..
            .panel-heading
                .row
                    .col-md-6
                        .toolbar
                            a.btn.btn-default(ui-sref="app.alarms-new")
                                i.icon-plus
                                | &nbsp;Add new
                            |&nbsp;
                            a.btn.btn-default(ui-sref="app.alarms", ng-if="vm.tripId")
                                i.icon-plus
                                | &nbsp;View all
                    .col-md-6
                        .search-box
                            form.form-horizontal
                                .form-group
                                    label.col-sm-4.no-pr.control-label(for="search-input") Search all columns:
                                    .col-sm-8
                                        input#search-input.form-control(type="text", ng-keyup="vm.search()", ng-model="vm.searchQuery", placeholder="Search for...")
            .panel-body
                table.alarms-datable.table.table-striped.table-hover
                    thead
                        tr
                            th Customer
                            th Trip
                            th Station code
                            th Added On
                            th Updated On
                            th Actions
                    thead.filters
                        tr
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Customer')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Trip')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Station')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Added on')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Updated on')
                    tbody
                        tr(ng-repeat="alarm in vm.alarms", ng-class="alarm.id")
                            td {{alarm.customer.name}}
                            td {{alarm.trip.name}}
                            td {{alarm.stationCode}}
                            td {{alarm.addedOn | date:'MM/dd/yy h:mma'}}
                            td {{alarm.updatedOn | date:'MM/dd/yy h:mma'}}
                            td
                                a.btn.btn-default(ui-sref="app.alarms-view({id:alarm.id})")
                                    i.icon-magnifier
                                    | &nbsp;View
                                |&nbsp;
                                a.btn.btn-default(ui-sref="app.alarms-edit({id:alarm.id})")
                                    i.icon-pencil
                                    | &nbsp;Edit
                                |&nbsp;
                                a.btn.btn-default(ng-click="vm.delete(alarm.id)")
                                    i.icon-trash
                                    | &nbsp;Delete

client/app/views/alarms.html
<h3>Alarms List
   <small>search and filter alarms</small>
</h3>
<div class="row jobs completed">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div ng-show="loading" class="overlay">
            <div class="loading">
               <span us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}"></span>
               <div class="wait">Please wait..</div>
            </div>
         </div>
         <div class="panel-heading">
            <div class="row">
               <div class="col-md-6">
                  <div class="toolbar"><a ui-sref="app.alarms-new" class="btn btn-default"><i class="icon-plus"></i>&nbsp;Add new</a>&nbsp;<a ui-sref="app.alarms" ng-if="vm.tripId" class="btn btn-default"><i class="icon-plus"></i>&nbsp;View all</a>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="search-box">
                     <form class="form-horizontal">
                        <div class="form-group">
                           <label for="search-input" class="col-sm-4 no-pr control-label">Search all columns:</label>
                           <div class="col-sm-8">
                              <input id="search-input" type="text" ng-keyup="vm.search()" ng-model="vm.searchQuery" placeholder="Search for..." class="form-control" />
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <table class="alarms-datable table table-striped table-hover">
               <thead>
                  <tr>
                     <th>Customer</th>
                     <th>Trip</th>
                     <th>Station code</th>
                     <th>Added On</th>
                     <th>Updated On</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               <thead class="filters">
                  <tr>
                     <th>
                        <input type="text" placeholder="Filter Customer" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Trip" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Station" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Added on" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Updated on" class="form-control input-sm datatable_input_col_search" />
                     </th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="alarm in vm.alarms" ng-class="alarm.id">
                     <td>{{alarm.customer.name}}</td>
                     <td>{{alarm.trip.name}}</td>
                     <td>{{alarm.stationCode}}</td>
                     <td>{{alarm.addedOn | date:'MM/dd/yy h:mma'}}</td>
                     <td>{{alarm.updatedOn | date:'MM/dd/yy h:mma'}}</td>
                     <td><a ui-sref="app.alarms-view({id:alarm.id})" class="btn btn-default"><i class="icon-magnifier"></i>&nbsp;View</a>&nbsp;<a ui-sref="app.alarms-edit({id:alarm.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp;Edit</a>&nbsp;
                        <a
                        ng-click="vm.delete(alarm.id)" class="btn btn-default"><i class="icon-trash"></i>&nbsp;Delete</a>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
