client/app/views/alarm-form.html
<h3>Alarm Form
   <small ng-if="vm.action == 'upsert'">Fill the form and save a alarm</small>
</h3>
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <form name="vm.alarmForm" data-parsley-trigger="blur" validate-form="" novalidate="" ng-submit="vm.save()">
            <div class="row">
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Trip</label>
                     <select ng-if="vm.action == 'upsert'" required="required" ng-options="trip.id as trip.name for trip in vm.trips" ng-model="vm.alarm.tripId" class="form-control">
                        <option value="">Select Trip</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.alarm.trip.name}}</span>
                  </div>
                  <div class="form-group">
                     <label>Customer</label>
                     <select ng-if="vm.action == 'upsert'" required="required" ng-options="customer.id as customer.name for customer in vm.customers" ng-model="vm.alarm.customerId" class="form-control">
                        <option value="">Select Customer</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.alarm.customer ? vm.alarm.customer.name : ''}}</span>
                  </div>
                  <div class="form-group">
                     <label>Station</label>
                     <select ng-if="vm.action == 'upsert'" required="required" ng-options="station.code as station.name for station in vm.stations" ng-model="vm.alarm.stationCode" class="form-control">
                        <option value="">Select station</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.alarm.stationCode}}</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <button type="submit" ng-if="vm.action == 'upsert'" ng-disabled="vm.saving" class="btn btn-default btn-success">
                     <span ng-hide="vm.saving"><i class="fa fa-save"></i>&nbsp;Save</span>
                     <span ng-show="vm.saving" class="uploading">
                        <span us-spinner="{radius:3, width:1, length: 5}"></span>
                        <span class="btn-msg">Saving..</span>
                     </span>
                  </button><a ng-if="vm.action=='view'" ui-sref="app.alarms-edit({id:vm.alarm.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp;Edit</a>&nbsp;<a ui-sref="app.alarms" class="btn btn-default"><i class="icon-arrow-left"></i>&nbsp;Back to list</a>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>

client/master/jade/views/alarm-form.jade
h3 Alarm Form
    small(ng-if="vm.action == 'upsert'") Fill the form and save a alarm
.row
    .col-lg-12
        .panel.panel-default
            form(name="vm.alarmForm", data-parsley-trigger="blur", validate-form='', novalidate='', ng-submit="vm.save()")
                .row
                    .col-lg-3.col-md-6
                        .form-group
                            label Trip
                            select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="trip.id as trip.name for trip in vm.trips", ng-model="vm.alarm.tripId")
                                option(value="") Select Trip
                            span(ng-if="vm.action=='view'") : {{vm.alarm.trip.name}}
                        .form-group
                            label Customer
                            select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="customer.id as customer.name for customer in vm.customers", ng-model="vm.alarm.customerId")
                                option(value="") Select Customer
                            span(ng-if="vm.action=='view'") : {{vm.alarm.customer ? vm.alarm.customer.name : ''}}
                        .form-group
                            label Station
                            select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="station.code as station.name for station in vm.stations", ng-model="vm.alarm.stationCode")
                                option(value="") Select station
                            span(ng-if="vm.action=='view'") : {{vm.alarm.stationCode}}
                .row
                    .col-sm-12
                        button.btn.btn-default.btn-success(type="submit", ng-if="vm.action == 'upsert'", ng-disabled="vm.saving")
                            span(ng-hide="vm.saving")
                                i.fa.fa-save
                                | &nbsp;Save
                            span.uploading(ng-show="vm.saving")
                                span(us-spinner="{radius:3, width:1, length: 5}")
                                span.btn-msg Saving..
                        a.btn.btn-default(ng-if="vm.action=='view'", ui-sref="app.alarms-edit({id:vm.alarm.id})")
                            i.icon-pencil
                            | &nbsp;Edit
                        | &nbsp;
                        a.btn.btn-default(ui-sref="app.alarms")
                            i.icon-arrow-left
                            | &nbsp;Back to list
