client/app/views/cab-form.html
<h3>Cab Form
   <small ng-if="vm.action == 'upsert'">Fill the form and save a cab</small>
</h3>
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <form name="vm.cabForm" data-parsley-trigger="blur" validate-form="" novalidate="" ng-submit="vm.save()">
            <div class="row">
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Operator Code</label>
                     <input ng-if="vm.action == 'upsert'" type="text" required="required" ng-model="vm.cab.operatorCode" placeholder="Operator code" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.cab.operatorCode}}</span>
                  </div>
                  <div class="form-group">
                     <label>Operator Name</label>
                     <input ng-if="vm.action == 'upsert'" type="text" required="required" ng-model="vm.cab.operatorName" placeholder="Operator name" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.cab.operatorName}}</span>
                  </div>
                  <div class="form-group">
                     <label>Minimum Fare</label>
                     <input ng-if="vm.action == 'upsert'" type="text" required="required" data-parsley-type="number" ng-model="vm.cab.minFare" placeholder="Minimum Fare" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.cab.minFare}}</span>
                  </div>
                  <div class="form-group">
                     <label>Per km cost</label>
                     <input ng-if="vm.action == 'upsert'" type="text" required="required" data-parsley-type="number" ng-model="vm.cab.perKmCost" placeholder="Per km cost" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.cab.perKmCost}}</span>
                  </div>
                  <div class="form-group">
                     <label>Station Code</label>
                     <select ng-if="vm.action == 'upsert'" required="required" ng-options="station.code as station.code for station in vm.stations" ng-model="vm.cab.stationCode" class="form-control">
                        <option value="">Select station</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.cab.stationCode}}</span>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Text</label>
                     <textarea ng-if="vm.action == 'upsert'" type="text" ng-model="vm.cab.text" placeholder="Text" class="form-control"></textarea>
                     <span ng-if="vm.action=='view'">: {{vm.cab.text}}</span>
                  </div>
                  <div class="form-group">
                     <label>Distance from station</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" ng-model="vm.cab.distanceFromStation" placeholder="Distance from station" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.cab.distanceFromStation}}</span>
                  </div>
                  <div class="form-group">
                     <label>Rating</label>
                     <select ng-if="vm.action == 'upsert'" ng-model="vm.cab.rating" class="form-control">
                        <option value="">Select rating</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.cab.rating}}</span>
                  </div>
                  <div class="form-group">
                     <label>Total users rated</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" ng-model="vm.cab.totalUsersRated" placeholder="Total users rated" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.cab.totalUsersRated}}</span>
                  </div>
               </div>
            </div>
            <div nv-file-drop="nv-file-drop" uploader="vm.uploader" ng-if="!vm.noFiles" class="row">
               <div ng-hide="vm.action=='view'" style="margin-bottom:20px" class="col-md-3">
                  <h3>Cab Images</h3>
                  <div ng-show="vm.uploader.isHTML5">
                     <div nv-file-drop="nv-file-drop" over-class="bg-info" uploader="vm.uploader" nv-file-over="another-file-over-class" class="box-placeholder my-drop-zone">Drop Files Here</div>
                  </div>
                  <input id="filestyle-0" type="file" data-button-text="Multiple" data-class-button="btn btn-default" data-class-input="form-control inline" nv-file-select="" uploader="vm.uploader" multiple="" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);"
                  class="form-control" />
                  <div class="bootstrap-filestyle input-group">
                     <input type="text" disabled="" class="form-control" />
                     <span tabindex="0" class="group-span-filestyle input-group-btn">
                        <label for="filestyle-0" class="btn btn-default">
                           <span class="fa fa-folder-open"></span>Select Files</label>
                     </span>
                  </div>
               </div>
               <div style="margin-bottom: 40px" ng-hide="vm.action=='view' || vm.uploader.queue.length === 0" class="col-md-9">
                  <h3>Upload queue</h3>
                  <p>Queue length: {{ vm.uploader.queue.length }}</p>
                  <table class="table">
                     <thead>
                        <tr>
                           <th width="50%">Name</th>
                           <th ng-show="vm.uploader.isHTML5">Size</th>
                           <th ng-show="vm.uploader.isHTML5">Progress</th>
                           <th>Status</th>
                           <th>Actions</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="item in vm.uploader.queue">
                           <td>
                              <strong>{{ item.file.name }}</strong>
                           </td>
                           <td ng-show="vm.uploader.isHTML5" nowrap="">{{item.file.size/1024/1024|number:2 }} MB</td>
                           <td ng-show="vm.uploader.isHTML5">
                              <div style="margin-bottom: 0;" class="progress">
                                 <div role="progressbar" ng-style="{ 'width': item.progress + '%' }" class="progress-bar"></div>
                              </div>
                           </td>
                           <td class="text-center">
                              <span ng-show="item.isSuccess"><i class="fa fa-check"></i>
                              </span>
                              <span ng-show="item.isCancel"><i class="fa icon-close"></i>
                              </span>
                              <span ng-show="item.isError"><i class="fa fa-trash"></i>
                              </span>
                           </td>
                           <td nowrap="">
                              <button type="button" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" class="btn btn-success btn-xs">
                                 <span class="icon-cloud-upload">&nbsp;</span>Upload</button>
                              <button type="button" ng-click="item.cancel()" ng-disabled="!item.isUploading" class="btn btn-warning btn-xs">
                                 <span class="fa icon-close">&nbsp;</span>Cancel</button>
                              <button type="button" ng-click="item.remove()" class="btn btn-danger btn-xs">
                                 <span class="fa fa-trash">&nbsp;</span>Remove</button>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <div>
                     <p>Queue progress:
                        <div style="" class="progress">
                           <div role="progressbar" ng-style="{ 'width': vm.uploader.progress + '%' }" class="progress-bar"></div>
                        </div>
                     </p>
                     <button type="button" ng-click="vm.uploader.uploadAll()" ng-disabled="!vm.uploader.getNotUploadedItems().length" class="btn btn-success">
                        <span class="icon-cloud-upload">&nbsp;</span>Upload all</button>
                     <button type="button" ng-click="vm.uploader.cancelAll()" ng-disabled="!vm.uploader.isUploading" class="btn btn-warning btn-s">
                        <span class="fa icon-close">&nbsp;</span>Cancel all</button>
                     <button type="button" ng-click="vm.uploader.clearQueue()" ng-disabled="!vm.uploader.queue.length" class="btn btn-danger btn-s">
                        <span class="icon-trash">&nbsp;</span>Remove all</button>
                  </div>
               </div>
               <div ng-show="vm.files.length" class="col-md-12">
                  <h3>Uploaded Images</h3>
               </div>
               <div style="margin-bottom: 40px" class="col-md-5">
                  <table class="table">
                     <tbody>
                        <tr ng-repeat="file in vm.files.slice(0, vm.halfLength)">
                           <td>
                              <a href="/api/containers/{{vm.containerId}}/download/{{file.name}}" target="blank">
                                 <img ng-src="/api/containers/{{vm.containerId}}/download/{{file.name}}" style="max-width:50px;" />
                              </a>
                           </td>
                           <td>
                              <a href="/api/containers/{{vm.containerId}}/download/{{file.name}}" target="blank">
                                 <strong>{{file.name}}</strong>
                              </a>
                           </td>
                           <td></td>
                           <td ng-hide="vm.action=='view'">
                              <button type="button" ng-click="vm.deleteFile($index, file.name)" title="Delete the file" class="btn btn-danger btn-xs">
                                 <span class="icon-trash">&nbsp;</span>Remove</button>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <div style="margin-bottom: 40px" class="col-md-5">
                  <table class="table">
                     <tbody>
                        <tr ng-repeat="file in vm.files.slice(vm.halfLength)">
                           <td>
                              <a href="/api/containers/{{vm.containerId}}/download/{{file.name}}" target="blank">
                                 <img ng-src="/api/containers/{{vm.containerId}}/download/{{file.name}}" style="max-width:50px;" />
                              </a>
                           </td>
                           <td>
                              <a href="/api/containers/{{vm.containerId}}/download/{{file.name}}" target="blank">
                                 <strong>{{file.name}}</strong>
                              </a>
                           </td>
                           <td></td>
                           <td ng-hide="vm.action=='view'">
                              <button type="button" ng-click="vm.deleteFile($index, file.name)" title="Delete the file" class="btn btn-danger btn-xs">
                                 <span class="icon-trash">&nbsp;</span>Remove</button>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <button type="submit" ng-if="vm.action == 'upsert'" ng-disabled="vm.saving" class="btn btn-default btn-success">
                     <span ng-hide="vm.saving"><i class="fa fa-save"></i>&nbsp;Save</span>
                     <span ng-show="vm.saving" class="uploading">
                        <span us-spinner="{radius:3, width:1, length: 5}"></span>
                        <span class="btn-msg">Saving..</span>
                     </span>
                  </button><a ng-if="vm.action=='view'" ui-sref="app.cabs-edit({id:vm.cab.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp;Edit</a>&nbsp;<a ui-sref="app.cabs" class="btn btn-default"><i class="icon-arrow-left"></i>&nbsp;Back to list</a>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>

client/master/jade/views/cab-form.jade
include helpers.jade
h3 Cab Form
    small(ng-if="vm.action == 'upsert'") Fill the form and save a cab
.row
    .col-lg-12
        .panel.panel-default
            form(name="vm.cabForm", data-parsley-trigger="blur", validate-form='', novalidate='', ng-submit="vm.save()")
                .row
                    .col-lg-3.col-md-6
                        .form-group
                            label Operator Code
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", required, ng-model="vm.cab.operatorCode", placeholder="Operator code")
                            span(ng-if="vm.action=='view'") : {{vm.cab.operatorCode}}
                        .form-group
                            label Operator Name
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", required, ng-model="vm.cab.operatorName", placeholder="Operator name")
                            span(ng-if="vm.action=='view'") : {{vm.cab.operatorName}}
                        .form-group
                            label Minimum Fare
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", required, data-parsley-type="number", ng-model="vm.cab.minFare", placeholder="Minimum Fare")
                            span(ng-if="vm.action=='view'") : {{vm.cab.minFare}}
                        .form-group
                            label Per km cost
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", required, data-parsley-type="number", ng-model="vm.cab.perKmCost", placeholder="Per km cost")
                            span(ng-if="vm.action=='view'") : {{vm.cab.perKmCost}}
                        .form-group
                            label Station Code
                            select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="station.code as station.code for station in vm.stations", ng-model="vm.cab.stationCode")
                                option(value="") Select station
                            span(ng-if="vm.action=='view'") : {{vm.cab.stationCode}}

                    .col-lg-3.col-md-6

                        .form-group
                            label Text
                            textarea.form-control(ng-if="vm.action == 'upsert'", type="text",  ng-model="vm.cab.text", placeholder="Text")
                            span(ng-if="vm.action=='view'") : {{vm.cab.text}}
                        .form-group
                            label Distance from station
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.cab.distanceFromStation", placeholder="Distance from station")
                            span(ng-if="vm.action=='view'") : {{vm.cab.distanceFromStation}}
                        .form-group
                            label Rating
                            select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.cab.rating")
                                option(value="") Select rating
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                                option(value="4") 4
                                option(value="5") 5
                            span(ng-if="vm.action=='view'") : {{vm.cab.rating}}
                        .form-group
                            label Total users rated
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.cab.totalUsersRated", placeholder="Total users rated")
                            span(ng-if="vm.action=='view'") : {{vm.cab.totalUsersRated}}

                +imageUpload('Cab')
                .row
                    .col-sm-12
                        button.btn.btn-default.btn-success(type="submit", ng-if="vm.action == 'upsert'", ng-disabled="vm.saving")
                            span(ng-hide="vm.saving")
                                i.fa.fa-save
                                | &nbsp;Save
                            span.uploading(ng-show="vm.saving")
                                span(us-spinner="{radius:3, width:1, length: 5}")
                                span.btn-msg Saving..
                        a.btn.btn-default(ng-if="vm.action=='view'", ui-sref="app.cabs-edit({id:vm.cab.id})")
                            i.icon-pencil
                            | &nbsp;Edit
                        | &nbsp;
                        a.btn.btn-default(ui-sref="app.cabs")
                            i.icon-arrow-left
                            | &nbsp;Back to list
