client/app/views/cabs.html
<h3>Cabs List
   <small>search and filter cabs</small>
</h3>
<div class="row jobs completed">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div ng-show="loading" class="overlay">
            <div class="loading">
               <span us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}"></span>
               <div class="wait">Please wait..</div>
            </div>
         </div>
         <div class="panel-heading">
            <div class="row">
               <div class="col-md-6">
                  <div class="toolbar"><a ui-sref="app.cabs-new" class="btn btn-default"><i class="icon-plus"></i>&nbsp;Add new</a>
                     <div class="btn file-input-wrap btn-default">
                        <input type="file" name="upfile" class="upload-select" />
                        <span ng-hide="vm.uploading"><i class="icon-cloud-upload"></i>&nbsp; Bulk upload</span>
                        <span ng-show="vm.uploading" class="uploading">
                           <span us-spinner="{radius:3, width:1, length: 5}"></span>
                           <span class="btn-msg">Uploading..</span>
                        </span>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="search-box">
                     <form class="form-horizontal">
                        <div class="form-group">
                           <label for="search-input" class="col-sm-4 no-pr control-label">Search all columns:</label>
                           <div class="col-sm-8">
                              <input id="search-input" type="text" ng-keyup="vm.search()" ng-model="vm.searchQuery" placeholder="Search for..." class="form-control" />
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <table class="cabs-datatable table table-striped table-hover">
               <thead>
                  <tr>
                     <th>Operator Name</th>
                     <th>Operator code</th>
                     <th>Min. fare</th>
                     <th>Per km cost</th>
                     <th>Station Code</th>
                     <th>Added On</th>
                     <th>Updated On</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               <thead class="filters">
                  <tr>
                     <th>
                        <input type="text" placeholder="Filter Operator Name" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Operator Code" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Min. fare" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Per km cost" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Station Code" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Added on" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Upadate On" class="form-control input-sm datatable_input_col_search" />
                     </th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="cab in vm.cabs" ng-class="cab.id">
                     <td>{{cab.operatorName}}</td>
                     <td>{{cab.operatorCode}}</td>
                     <td>{{cab.minFare}}</td>
                     <td>{{cab.perKmCost}}</td>
                     <td>{{cab.stationCode}}</td>
                     <td>{{cab.addedOn | date:'MM/dd/yy h:mma'}}</td>
                     <td>{{cab.updatedOn | date:'MM/dd/yy h:mma'}}</td>
                     <td style="min-width:100px">
                        <div dropdown="dropdown" class="btn-group"><a type="button" ui-sref="app.cabs-edit({id:cab.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp Edit</a>
                           <button type="button" dropdown-toggle="" class="btn dropdown-toggle btn-default">
                              <span class="caret"></span>
                           </button>
                           <ul role="menu" class="dropdown-menu">
                              <li><a ui-sref="app.cabs-view({id:cab.id})"><i class="icon-magnifier"></i>&nbsp View</a>
                              </li>
                              <li><a href="javascript:void(0)" ng-click="vm.delete(cab.id)"><i class="icon-trash"></i>&nbsp Delete</a>
                              </li>
                           </ul>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

client/master/jade/views/cabs.jade
include helpers.jade

h3 Cabs List
    small search and filter cabs
.row.jobs.completed
    .col-lg-12
        .panel.panel-default
            .overlay(ng-show="loading")
                .loading
                    span(us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}")
                    .wait Please wait..
            +toolbar('cab', true)
            .panel-body
                table.cabs-datatable.table.table-striped.table-hover
                    thead
                        tr
                            th Operator Name
                            th Operator code
                            th Min. fare
                            th Per km cost
                            th Station Code
                            th Added On
                            th Updated On
                            th Actions
                    thead.filters
                        tr
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Operator Name')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Operator Code')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Min. fare')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Per km cost')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Station Code')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Added on')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Upadate On')
                    tbody
                        tr(ng-repeat="cab in vm.cabs", ng-class="cab.id")
                            td {{cab.operatorName}}
                            td {{cab.operatorCode}}
                            td {{cab.minFare}}
                            td {{cab.perKmCost}}
                            td {{cab.stationCode}}
                            td {{cab.addedOn | date:'MM/dd/yy h:mma'}}
                            td {{cab.updatedOn | date:'MM/dd/yy h:mma'}}
                            td(style="min-width:100px")
                                +dropdown_split('cab')
