client/app/views/cities.html
<h3>Cities List
   <small>search and filter cities</small>
</h3>
<div class="row jobs completed">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div ng-show="loading" class="overlay">
            <div class="loading">
               <span us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}"></span>
               <div class="wait">Please wait..</div>
            </div>
         </div>
         <div class="panel-heading">
            <div class="row">
               <div class="col-md-6">
                  <div class="toolbar"><a ui-sref="app.cities-new" class="btn btn-default"><i class="icon-plus"></i>&nbsp;Add new</a>
                     <div class="btn file-input-wrap btn-default">
                        <input type="file" name="upfile" class="upload-select" />
                        <span ng-hide="vm.uploading"><i class="icon-cloud-upload"></i>&nbsp; Bulk upload</span>
                        <span ng-show="vm.uploading" class="uploading">
                           <span us-spinner="{radius:3, width:1, length: 5}"></span>
                           <span class="btn-msg">Uploading..</span>
                        </span>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="search-box">
                     <form class="form-horizontal">
                        <div class="form-group">
                           <label for="search-input" class="col-sm-4 no-pr control-label">Search all columns:</label>
                           <div class="col-sm-8">
                              <input id="search-input" type="text" ng-keyup="vm.search()" ng-model="vm.searchQuery" placeholder="Search for..." class="form-control" />
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <table class="cities-datatable table table-striped table-hover">
               <thead>
                  <tr>
                     <th>Name</th>
                     <th>State</th>
                     <th>Rural/Urban</th>
                     <th>Code</th>
                     <th>Added on</th>
                     <th>Update on</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               <thead class="filters">
                  <tr>
                     <th>
                        <input type="text" placeholder="Filter Name" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter State" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Rural/Urban" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Code" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Added on" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Updated on" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="city in vm.cities" ng-class="city.id">
                     <td>{{city.name}}</td>
                     <td>{{city.state.name}}</td>
                     <td>{{city.isUrban ? 'Urban' : 'Rural'}}</td>
                     <td>{{city.code}}</td>
                     <td>{{city.addedOn | date:'MM/dd/yy h:mma'}}</td>
                     <td>{{city.updatedOn | date:'MM/dd/yy h:mma'}}</td>
                     <td><a ui-sref="app.cities-view({id:city.id})" class="btn btn-default"><i class="icon-magnifier"></i>&nbsp;View</a>&nbsp<a ui-sref="app.cities-edit({id:city.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp;Edit</a>&nbsp
                        <a
                        ng-click="vm.delete(city.id)" class="btn btn-default"><i class="icon-trash"></i>&nbsp;Delete</a>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

client/master/jade/views/cities.jade
h3 Cities List
  small search and filter cities

.row.jobs.completed
  .col-lg-12
    .panel.panel-default
      .overlay(ng-show="loading")
        .loading
            span(us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}")
            .wait Please wait..
      .panel-heading
        .row
          .col-md-6
            .toolbar
              a.btn.btn-default(ui-sref="app.cities-new")
                  i.icon-plus
                  |&nbsp;Add new

              .btn.file-input-wrap.btn-default
                input.upload-select(type='file', name="upfile")
                span(ng-hide="vm.uploading")
                    i.icon-cloud-upload
                    | &nbsp; Bulk upload
                span.uploading(ng-show="vm.uploading")
                    span(us-spinner="{radius:3, width:1, length: 5}")
                    span.btn-msg Uploading..

          .col-md-6
            .search-box
              form.form-horizontal
                .form-group
                  label.col-sm-4.no-pr.control-label(for="search-input") Search all columns:
                  .col-sm-8
                    input#search-input.form-control(type="text", ng-keyup="vm.search()", ng-model="vm.searchQuery", placeholder="Search for...")

      .panel-body
        table.cities-datatable.table.table-striped.table-hover
          thead
            tr
              th Name
              th State
              th Rural/Urban
              th Code
              th Added on
              th Update on
              th Actions
          thead.filters
            tr
              th
                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Name')
              th
                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter State')
              th
                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Rural/Urban')
              th
                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Code')
              th
                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Added on')
              th
                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Updated on')
              th

          tbody
            tr(ng-repeat="city in vm.cities", ng-class="city.id")
              td {{city.name}}
              td {{city.state.name}}
              td {{city.isUrban ? 'Urban' : 'Rural'}}
              td {{city.code}}
              td {{city.addedOn | date:'MM/dd/yy h:mma'}}
              td {{city.updatedOn | date:'MM/dd/yy h:mma'}}
              td
                a.btn.btn-default(ui-sref="app.cities-view({id:city.id})")
                  i.icon-magnifier
                  |&nbsp;View
                | &nbsp

                a.btn.btn-default(ui-sref="app.cities-edit({id:city.id})")
                  i.icon-pencil
                  |&nbsp;Edit
                | &nbsp

                a.btn.btn-default(ng-click="vm.delete(city.id)")
                  i.icon-trash
                  |&nbsp;Delete
