client/app/views/cities-form.html
<h3>City Form
   <small ng-if="vm.action == 'upsert'">Fill the form and save a city</small>
</h3>
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <form name="vm.cityForm" data-parsley-trigger="blurr" validate-form="" novalidate="" ng-submit="vm.save()">
            <div class="row">
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Name</label>
                     <input ng-if="vm.action == 'upsert'" required="required" name="name" type="text" ng-model="vm.city.name" placeholder="City Name" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.city.name}}</span>
                  </div>
                  <div class="form-group">
                     <label>Code</label>
                     <input ng-if="vm.action == 'upsert'" required="required" type="text" ng-model="vm.city.code" placeholder="City Code" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.city.code}}</span>
                  </div>
                  <div class="form-group">
                     <label>State</label>
                     <select ng-if="vm.action == 'upsert'" data-parsley-required="true" ng-options="state.id as state.name for state in vm.states" ng-model="vm.stateId" class="form-control">
                        <option value="">Select state</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.city.state ? vm.city.state.name : ''}}</span>
                  </div>
                  <div ng-if="vm.action == 'upsert'" class="form-group">
                     <div class="radio c-radio inline">
                        <label>
                           <input type="radio" name="a" required="required" ng-value="true" ng-model="vm.city.isUrban" />
                           <span class="fa fa-circle"></span>Urban</label>
                     </div>
                     <div class="radio c-radio inline">
                        <label>
                           <input type="radio" name="a" required="required" ng-value="false" ng-model="vm.city.isUrban" checked="" />
                           <span class="fa fa-circle"></span>Rural</label>
                     </div>
                  </div>
                  <div ng-if="vm.action == 'view'" class="form-group">
                     <label>City type :</label>
                     <span>{{vm.city.isUrban ? 'Urban' : 'Rural'}}</span>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Tourist Attractions</label>
                     <textarea ng-if="vm.action == 'upsert'" type="text" ng-model="vm.city.touristAttraction" placeholder="City Tourist Attractions" class="form-control"></textarea>
                     <span ng-if="vm.action=='view'">: {{vm.city.touristAttraction}}</span>
                  </div>
                  <div class="form-group">
                     <label>Local festivals/Fairs</label>
                     <textarea ng-if="vm.action == 'upsert'" type="text" ng-model="vm.city.localFestivals" placeholder="Local festivals/Fairs" class="form-control"></textarea>
                     <span ng-if="vm.action=='view'">: {{vm.city.localFestivals}}</span>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Speciality Food</label>
                     <textarea ng-if="vm.action == 'upsert'" type="text" ng-model="vm.city.specialityFood" placeholder="Speciality Food" class="form-control"></textarea>
                     <span ng-if="vm.action=='view'">: {{vm.city.specialityFood}}</span>
                  </div>
               </div>
               <div class="row"></div>
               <div class="col-sm-12">
                  <button type="submit" ng-if="vm.action == 'upsert'" ng-disabled="vm.saving" class="btn btn-default btn-success">
                     <span ng-hide="vm.saving"><i class="fa fa-save"></i>&nbsp;Save</span>
                     <span ng-show="vm.saving" class="uploading">
                        <span us-spinner="{radius:3, width:1, length: 5}"></span>
                        <span class="btn-msg">Saving..</span>
                     </span>
                  </button><a ng-if="vm.action=='view'" ui-sref="app.cities-edit({id:vm.city.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp;Edit</a>&nbsp;<a ui-sref="app.cities" class="btn btn-default"><i class="icon-arrow-left"></i>&nbsp;Back to list</a>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>

client/master/jade/views/cities-form.jade
h3 City Form
  small(ng-if="vm.action == 'upsert'") Fill the form and save a city
.row
  .col-lg-12
    .panel.panel-default
      form(name="vm.cityForm", data-parsley-trigger="blurr", validate-form='', novalidate='', ng-submit="vm.save()")
        .row
          .col-lg-3.col-md-6
            .form-group
              label Name
              input.form-control(ng-if="vm.action == 'upsert'", required, name="name", type="text", ng-model="vm.city.name", placeholder="City Name")
              span(ng-if="vm.action=='view'") : {{vm.city.name}}
            .form-group
              label Code
              input.form-control(ng-if="vm.action == 'upsert'", required, type="text", ng-model="vm.city.code", placeholder="City Code")
              span(ng-if="vm.action=='view'") : {{vm.city.code}}
            .form-group
              label State
              select.form-control(ng-if="vm.action == 'upsert'", data-parsley-required="true", ng-options="state.id as state.name for state in vm.states", ng-model="vm.stateId")
                option(value="") Select state
              span(ng-if="vm.action=='view'") : {{vm.city.state ? vm.city.state.name : ''}}
            .form-group(ng-if="vm.action == 'upsert'")
              .radio.c-radio.inline
                label
                  input(type='radio', name='a', required, ng-value='true', ng-model="vm.city.isUrban")
                  span.fa.fa-circle
                  |  Urban
              .radio.c-radio.inline
                label
                  input(type='radio', name='a', required, ng-value='false', ng-model="vm.city.isUrban", checked='')
                  span.fa.fa-circle
                  |  Rural
            .form-group(ng-if="vm.action == 'view'")
              label City type :
              span {{vm.city.isUrban ? 'Urban' : 'Rural'}}
          .col-lg-3.col-md-6
            .form-group
                label Tourist Attractions
                textarea.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.city.touristAttraction", placeholder="City Tourist Attractions")
                span(ng-if="vm.action=='view'") : {{vm.city.touristAttraction}}
            .form-group
                label Local festivals/Fairs
                textarea.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.city.localFestivals", placeholder="Local festivals/Fairs")
                span(ng-if="vm.action=='view'") : {{vm.city.localFestivals}}
          .col-lg-3.col-md-6
            .form-group
                label Speciality Food
                textarea.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.city.specialityFood", placeholder="Speciality Food")
                span(ng-if="vm.action=='view'") : {{vm.city.specialityFood}}

          .row
          .col-sm-12
            button.btn.btn-default.btn-success(type="submit", ng-if="vm.action == 'upsert'", ng-disabled="vm.saving")
              span(ng-hide="vm.saving")
                i.fa.fa-save
                |&nbsp;Save
              span.uploading(ng-show="vm.saving")
                span(us-spinner="{radius:3, width:1, length: 5}")
                span.btn-msg Saving..

            a.btn.btn-default(ng-if="vm.action=='view'", ui-sref="app.cities-edit({id:vm.city.id})")
              i.icon-pencil
              |&nbsp;Edit
            | &nbsp;
            a.btn.btn-default(ui-sref="app.cities")
              i.icon-arrow-left
              |&nbsp;Back to list
