client/app/views/hotels.html
<h3>Hotels List
   <small>search and filter hotels</small>
</h3>
<div class="row jobs completed">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div ng-show="loading" class="overlay">
            <div class="loading">
               <span us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}"></span>
               <div class="wait">Please wait..</div>
            </div>
         </div>
         <div class="panel-heading">
            <div class="row">
               <div class="col-md-6">
                  <div class="toolbar"><a ui-sref="app.hotels-new" class="btn btn-default"><i class="icon-plus"></i>&nbsp;Add new</a>
                     <div class="btn file-input-wrap btn-default">
                        <input type="file" name="upfile" class="upload-select" />
                        <span ng-hide="vm.uploading"><i class="icon-cloud-upload"></i>&nbsp; Bulk upload</span>
                        <span ng-show="vm.uploading" class="uploading">
                           <span us-spinner="{radius:3, width:1, length: 5}"></span>
                           <span class="btn-msg">Uploading..</span>
                        </span>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="search-box">
                     <form class="form-horizontal">
                        <div class="form-group">
                           <label for="search-input" class="col-sm-4 no-pr control-label">Search all columns:</label>
                           <div class="col-sm-8">
                              <input id="search-input" type="text" ng-keyup="vm.search()" ng-model="vm.searchQuery" placeholder="Search for..." class="form-control" />
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <table class="hotels-datatable table table-striped table-hover">
               <thead>
                  <tr>
                     <th>Name</th>
                     <th>Mobile</th>
                     <th>Station code</th>
                     <th>Added on</th>
                     <th>Updated on</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               <thead class="filters">
                  <tr>
                     <th>
                        <input type="text" placeholder="Filter hotel name" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter mobile" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter station code" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter added on" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter updated on" class="form-control input-sm datatable_input_col_search" />
                     </th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="hotel in vm.hotels" ng-class="hotel.id">
                     <td>{{hotel.name}}</td>
                     <td>{{hotel.mobileNo}}</td>
                     <td>{{hotel.stationCode}}</td>
                     <td>{{hotel.addedOn | date:'MM/dd/yy h:mma'}}</td>
                     <td>{{hotel.updatedOn | date:'MM/dd/yy h:mma'}}</td>
                     <td style="min-width:100px">
                        <div dropdown="dropdown" class="btn-group"><a type="button" ui-sref="app.hotels-edit({id:hotel.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp Edit</a>
                           <button type="button" dropdown-toggle="" class="btn dropdown-toggle btn-default">
                              <span class="caret"></span>
                           </button>
                           <ul role="menu" class="dropdown-menu">
                              <li><a ui-sref="app.hotels-view({id:hotel.id})"><i class="icon-magnifier"></i>&nbsp View</a>
                              </li>
                              <li><a href="javascript:void(0)" ng-click="vm.delete(hotel.id)"><i class="icon-trash"></i>&nbsp Delete</a>
                              </li>
                           </ul>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

client/master/jade/views/hotels.jade
include helpers.jade
h3 Hotels List
    small search and filter hotels
.row.jobs.completed
    .col-lg-12
        .panel.panel-default
            .overlay(ng-show="loading")
                .loading
                    span(us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}")
                    .wait Please wait..
            +toolbar('hotel', true)
            .panel-body
                table.hotels-datatable.table.table-striped.table-hover
                    thead
                        tr
                            th Name
                            th Mobile
                            th Station code
                            th Added on
                            th Updated on
                            th Actions
                    thead.filters
                        tr
                            +headerFilter('Filter hotel name')
                            +headerFilter('Filter mobile')
                            +headerFilter('Filter station code')
                            +headerFilter('Filter added on')
                            +headerFilter('Filter updated on')
                    tbody
                        tr(ng-repeat="hotel in vm.hotels", ng-class="hotel.id")
                            td {{hotel.name}}
                            td {{hotel.mobileNo}}
                            td {{hotel.stationCode}}
                            td {{hotel.addedOn | date:'MM/dd/yy h:mma'}}
                            td {{hotel.updatedOn | date:'MM/dd/yy h:mma'}}
                            td(style="min-width:100px")
                                +dropdown_split('hotel')
