client/app/views/item-form.html
<h3>Item Form
   <small ng-if="vm.action == 'upsert'">Fill the form and save a item</small>
</h3>
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <form name="vm.itemForm" data-parsley-trigger="blur" validate-form="" novalidate="" ng-submit="vm.save()">
            <div class="row">
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Restaurant</label>
                     <select ng-if="vm.action == 'upsert'" required="required" ng-options="restaurant.id as restaurant.name for restaurant in vm.restaurants" ng-model="vm.item.restaurantId" class="form-control">
                        <option value="">Select restaurant</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.item.restaurant.name}}</span>
                  </div>
                  <div class="form-group">
                     <label>Category</label>
                     <select ng-if="vm.action == 'upsert'" required="required" ng-options="category.id as category.name for category in vm.categories" ng-model="vm.item.categoryId" class="form-control">
                        <option value="">Select category</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.item.category.name}}</span>
                  </div>
                  <div class="form-group">
                     <label>Subcategory</label>
                     <select ng-if="vm.action == 'upsert'" required="required" ng-options="subCategory.id as subCategory.name for subCategory in vm.subCategories" ng-model="vm.item.subCategoryId" class="form-control">
                        <option value="">Select Subcategory</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.item.subCategory.name}}</span>
                  </div>
                  <div class="form-group">
                     <label>Menu Item</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-required="true" ng-model="vm.item.menuItem" placeholder="Menu Item" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.item.menuItem}}</span>
                  </div>
                  <div class="form-group">
                     <label>List Price</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="true" data-parsley-type="number" type="text" ng-model="vm.item.listPrice" placeholder="List Price" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.item.listPrice}}</span>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Morning Opening Time</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="true" masked="" data-inputmask="'mask': '99:99'" type="text" ng-model="vm.item.morningAvailabilityOpenTime" placeholder="Morning Opening Time"
                     class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.item.morningAvailabilityOpenTime}}</span>
                  </div>
                  <div class="form-group">
                     <label>Morning Closing Time</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="true" masked="" data-inputmask="'mask': '99:99'" type="text" ng-model="vm.item.morningAvailabilityCloseTime" placeholder="Morning Closing Time"
                     class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.item.morningAvailabilityCloseTime}}</span>
                  </div>
                  <div class="form-group">
                     <label>Evening Opening Time</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="true" masked="" data-inputmask="'mask': '99:99'" type="text" ng-model="vm.item.eveningAvailabilityOpenTime" placeholder="Evening Opening Time"
                     class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.item.eveningAvailabilityOpenTime}}</span>
                  </div>
                  <div class="form-group">
                     <label>Evening Closing Time</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="true" masked="" data-inputmask="'mask': '99:99'" type="text" ng-model="vm.item.eveningAvailabilityCloseTime" placeholder="Evening Closing Time"
                     class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.item.eveningAvailabilityCloseTime}}</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <button type="submit" ng-if="vm.action == 'upsert'" ng-disabled="vm.saving" class="btn btn-default btn-success">
                     <span ng-hide="vm.saving"><i class="fa fa-save"></i>&nbsp;Save</span>
                     <span ng-show="vm.saving" class="uploading">
                        <span us-spinner="{radius:3, width:1, length: 5}"></span>
                        <span class="btn-msg">Saving..</span>
                     </span>
                  </button><a ng-if="vm.action=='view'" ui-sref="app.items-edit({id:vm.item.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp;Edit</a>&nbsp;<a ui-sref="app.items" class="btn btn-default"><i class="icon-arrow-left"></i>&nbsp;Back to list</a>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>

client/master/jade/views/item-form.jade
include helpers.jade
h3 Item Form
    small(ng-if="vm.action == 'upsert'") Fill the form and save a item
.row
    .col-lg-12
        .panel.panel-default
            form(name="vm.itemForm", data-parsley-trigger="blur", validate-form='', novalidate='', ng-submit="vm.save()")
                .row
                    .col-lg-3.col-md-6
                        .form-group
                            label Restaurant
                            select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="restaurant.id as restaurant.name for restaurant in vm.restaurants", ng-model="vm.item.restaurantId")
                                option(value="") Select restaurant
                            span(ng-if="vm.action=='view'") : {{vm.item.restaurant.name}}

                        .form-group
                            label Category
                            select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="category.id as category.name for category in vm.categories", ng-model="vm.item.categoryId")
                                option(value="") Select category
                            span(ng-if="vm.action=='view'") : {{vm.item.category.name}}

                        .form-group
                            label Subcategory
                            select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="subCategory.id as subCategory.name for subCategory in vm.subCategories", ng-model="vm.item.subCategoryId")
                                option(value="") Select Subcategory
                            span(ng-if="vm.action=='view'") : {{vm.item.subCategory.name}}

                        +textFormGroup('Menu Item', 'vm.item.menuItem', true)
                        +numberFormGroup('List Price', 'vm.item.listPrice', true)

                    .col-lg-3.col-md-6

                        +timeInput('Morning Opening Time', 'vm.item.morningAvailabilityOpenTime', true)
                        +timeInput('Morning Closing Time', 'vm.item.morningAvailabilityCloseTime', true)
                        +timeInput('Evening Opening Time', 'vm.item.eveningAvailabilityOpenTime', true)
                        +timeInput('Evening Closing Time', 'vm.item.eveningAvailabilityCloseTime', true)
                .row
                    .col-sm-12
                        button.btn.btn-default.btn-success(type="submit", ng-if="vm.action == 'upsert'", ng-disabled="vm.saving")
                            span(ng-hide="vm.saving")
                                i.fa.fa-save
                                | &nbsp;Save
                            span.uploading(ng-show="vm.saving")
                                span(us-spinner="{radius:3, width:1, length: 5}")
                                span.btn-msg Saving..
                        a.btn.btn-default(ng-if="vm.action=='view'", ui-sref="app.items-edit({id:vm.item.id})")
                            i.icon-pencil
                            | &nbsp;Edit
                        | &nbsp;
                        a.btn.btn-default(ui-sref="app.items")
                            i.icon-arrow-left
                            | &nbsp;Back to list
