client/master/jade/views/items.jade
include helpers.jade
h3 Items List
    small search and filter items
.row.jobs.completed
    .col-lg-12
        .panel.panel-default
            .overlay(ng-show="loading")
                .loading
                    span(us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}")
                    .wait Please wait..
            +toolbar('item', true)
            .panel-body
                table.items-datatable.table.table-striped.table-hover
                    thead
                        tr
                            th Restaurant name
                            th Category
                            th Sub Category
                            th Menu Item
                            th List Price
                            th Morning open time
                            th Morning close time
                            th Evening open time
                            th Evening close time
                            th Actions
                    thead.filters
                        tr
                            +headerFilter('Filter restaurant name')
                            +headerFilter('Filter category')
                            +headerFilter('Filter sub-category')
                            +headerFilter('Filter menu item')
                            +headerFilter('Filter list price')
                            +headerFilter('Filter M. open time')
                            +headerFilter('Filter M. close time')
                            +headerFilter('Filter E. open time')
                            +headerFilter('Filter E. close time')
                    tbody
                        tr(ng-repeat="item in vm.items", ng-class="item.id")
                            td {{item.restaurant.name}}
                            td {{item.category.name}}
                            td {{item.subcategory.name}}
                            td {{item.menuItem}}
                            td {{item.listPrice}}
                            td {{item.morningAvailabilityOpenTime}}
                            td {{item.morningAvailabilityCloseTime}}
                            td {{item.eveningAvailabilityOpenTime}}
                            td {{item.eveningAvailabilityCloseTime}}
                            td(style="min-width:100px")
                                +dropdown_split('item')

client/app/views/items.html
<h3>Items List
   <small>search and filter items</small>
</h3>
<div class="row jobs completed">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div ng-show="loading" class="overlay">
            <div class="loading">
               <span us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}"></span>
               <div class="wait">Please wait..</div>
            </div>
         </div>
         <div class="panel-heading">
            <div class="row">
               <div class="col-md-6">
                  <div class="toolbar"><a ui-sref="app.items-new" class="btn btn-default"><i class="icon-plus"></i>&nbsp;Add new</a>
                     <div class="btn file-input-wrap btn-default">
                        <input type="file" name="upfile" class="upload-select" />
                        <span ng-hide="vm.uploading"><i class="icon-cloud-upload"></i>&nbsp; Bulk upload</span>
                        <span ng-show="vm.uploading" class="uploading">
                           <span us-spinner="{radius:3, width:1, length: 5}"></span>
                           <span class="btn-msg">Uploading..</span>
                        </span>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="search-box">
                     <form class="form-horizontal">
                        <div class="form-group">
                           <label for="search-input" class="col-sm-4 no-pr control-label">Search all columns:</label>
                           <div class="col-sm-8">
                              <input id="search-input" type="text" ng-keyup="vm.search()" ng-model="vm.searchQuery" placeholder="Search for..." class="form-control" />
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <table class="items-datatable table table-striped table-hover">
               <thead>
                  <tr>
                     <th>Restaurant name</th>
                     <th>Category</th>
                     <th>Sub Category</th>
                     <th>Menu Item</th>
                     <th>List Price</th>
                     <th>Morning open time</th>
                     <th>Morning close time</th>
                     <th>Evening open time</th>
                     <th>Evening close time</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               <thead class="filters">
                  <tr>
                     <th>
                        <input type="text" placeholder="Filter restaurant name" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter category" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter sub-category" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter menu item" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter list price" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter M. open time" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter M. close time" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter E. open time" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter E. close time" class="form-control input-sm datatable_input_col_search" />
                     </th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="item in vm.items" ng-class="item.id">
                     <td>{{item.restaurant.name}}</td>
                     <td>{{item.category.name}}</td>
                     <td>{{item.subcategory.name}}</td>
                     <td>{{item.menuItem}}</td>
                     <td>{{item.listPrice}}</td>
                     <td>{{item.morningAvailabilityOpenTime}}</td>
                     <td>{{item.morningAvailabilityCloseTime}}</td>
                     <td>{{item.eveningAvailabilityOpenTime}}</td>
                     <td>{{item.eveningAvailabilityCloseTime}}</td>
                     <td style="min-width:100px">
                        <div dropdown="dropdown" class="btn-group"><a type="button" ui-sref="app.items-edit({id:item.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp Edit</a>
                           <button type="button" dropdown-toggle="" class="btn dropdown-toggle btn-default">
                              <span class="caret"></span>
                           </button>
                           <ul role="menu" class="dropdown-menu">
                              <li><a ui-sref="app.items-view({id:item.id})"><i class="icon-magnifier"></i>&nbsp View</a>
                              </li>
                              <li><a href="javascript:void(0)" ng-click="vm.delete(item.id)"><i class="icon-trash"></i>&nbsp Delete</a>
                              </li>
                           </ul>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
