client/app/views/order-form.html
<h3>Order Form
   <small ng-if="vm.action == 'upsert'">Fill the form and save a order</small>
</h3>
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <form name="vm.orderForm" data-parsley-trigger="blur" validate-form="" novalidate="" ng-submit="vm.save()">
            <div class="row">
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Order Id</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="true" data-parsley-type="number" type="text" ng-model="vm.order.orderId" placeholder="Order Id" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.order.orderId}}</span>
                  </div>
                  <div class="form-group">
                     <label>Total amount</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="true" data-parsley-type="number" type="text" ng-model="vm.order.totalAmount" placeholder="Total amount" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.order.totalAmount}}</span>
                  </div>
                  <div class="form-group">
                     <label>Restaurant</label>
                     <select ng-if="vm.action == 'upsert'" required="required" ng-options="restaurant.id as restaurant.name for restaurant in vm.restaurants" ng-model="vm.order.restaurantId" class="form-control">
                        <option value="">Select restaurant</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.order.restaurant.name}}</span>
                  </div>
                  <div class="form-group">
                     <label>Date (mm/dd/yyy hh:mm)</label>
                     <input ng-if="vm.action == 'upsert'" masked="" data-inputmask="'mask': '99/99/9999 99:99'" type="text" ng-model="vm.order.date" placeholder="Order Date" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.order.date}}</span>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Customer</label>
                     <select ng-if="vm.action == 'upsert'" required="required" ng-options="customer.id as customer.name for customer in vm.customers" ng-model="vm.order.customerId" class="form-control">
                        <option value="">Select customer</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.order.customer.name}}</span>
                  </div>
                  <div class="form-group">
                     <label>Station</label>
                     <select ng-if="vm.action == 'upsert'" required="required" ng-options="station.code as station.code for station in vm.stations" ng-model="vm.order.stationCode" class="form-control">
                        <option value="">Select Station</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.order.stationCode}}</span>
                  </div>
                  <div class="form-group">
                     <label>Status</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="true" data-parsley-type="number" type="text" ng-model="vm.order.status" placeholder="Status" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.order.status}}</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <button type="submit" ng-if="vm.action == 'upsert'" ng-disabled="vm.saving" class="btn btn-default btn-success">
                     <span ng-hide="vm.saving"><i class="fa fa-save"></i>&nbsp;Save</span>
                     <span ng-show="vm.saving" class="uploading">
                        <span us-spinner="{radius:3, width:1, length: 5}"></span>
                        <span class="btn-msg">Saving..</span>
                     </span>
                  </button><a ng-if="vm.action=='view'" ui-sref="app.orders-edit({id:vm.order.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp;Edit</a>&nbsp;<a ui-sref="app.orders" class="btn btn-default"><i class="icon-arrow-left"></i>&nbsp;Back to list</a>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>

client/master/jade/views/order-form.jade
include helpers.jade
h3 Order Form
    small(ng-if="vm.action == 'upsert'") Fill the form and save a order
.row
    .col-lg-12
        .panel.panel-default
            form(name="vm.orderForm", data-parsley-trigger="blur", validate-form='', novalidate='', ng-submit="vm.save()")
                .row
                    .col-lg-3.col-md-6
                        +numberFormGroup('Order Id', 'vm.order.orderId', true)
                        +numberFormGroup('Total amount', 'vm.order.totalAmount', true)
                        .form-group
                            label Restaurant
                            select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="restaurant.id as restaurant.name for restaurant in vm.restaurants", ng-model="vm.order.restaurantId")
                                option(value="") Select restaurant
                            span(ng-if="vm.action=='view'") : {{vm.order.restaurant.name}}

                        .form-group
                            label Date (mm/dd/yyy hh:mm)
                            input.form-control(ng-if="vm.action == 'upsert'", masked="", data-inputmask="'mask': '99/99/9999 99:99'", type="text", ng-model="vm.order.date", placeholder="Order Date")
                            span(ng-if="vm.action=='view'") : {{vm.order.date}}

                    .col-lg-3.col-md-6

                        .form-group
                            label Customer
                            select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="customer.id as customer.name for customer in vm.customers", ng-model="vm.order.customerId")
                                option(value="") Select customer
                            span(ng-if="vm.action=='view'") : {{vm.order.customer.name}}

                        .form-group
                            label Station
                            select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="station.code as station.code for station in vm.stations", ng-model="vm.order.stationCode")
                                option(value="") Select Station
                            span(ng-if="vm.action=='view'") : {{vm.order.stationCode}}

                        +numberFormGroup('Status', 'vm.order.status', true)
                .row
                    .col-sm-12
                        button.btn.btn-default.btn-success(type="submit", ng-if="vm.action == 'upsert'", ng-disabled="vm.saving")
                            span(ng-hide="vm.saving")
                                i.fa.fa-save
                                | &nbsp;Save
                            span.uploading(ng-show="vm.saving")
                                span(us-spinner="{radius:3, width:1, length: 5}")
                                span.btn-msg Saving..
                        a.btn.btn-default(ng-if="vm.action=='view'", ui-sref="app.orders-edit({id:vm.order.id})")
                            i.icon-pencil
                            | &nbsp;Edit
                        | &nbsp;
                        a.btn.btn-default(ui-sref="app.orders")
                            i.icon-arrow-left
                            | &nbsp;Back to list
