client/app/views/orders.html
<h3>Orders List
   <small>search and filter orders</small>
</h3>
<div class="row jobs completed">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div ng-show="loading" class="overlay">
            <div class="loading">
               <span us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}"></span>
               <div class="wait">Please wait..</div>
            </div>
         </div>
         <div class="panel-heading">
            <div class="row">
               <div class="col-md-6">
                  <div class="toolbar"><a ui-sref="app.orders-new" class="btn btn-default"><i class="icon-plus"></i>&nbsp;Add new</a>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="search-box">
                     <form class="form-horizontal">
                        <div class="form-group">
                           <label for="search-input" class="col-sm-4 no-pr control-label">Search all columns:</label>
                           <div class="col-sm-8">
                              <input id="search-input" type="text" ng-keyup="vm.search()" ng-model="vm.searchQuery" placeholder="Search for..." class="form-control" />
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <table class="orders-datatable table table-striped table-hover">
               <thead>
                  <tr>
                     <th>Customer</th>
                     <th>Restaurant</th>
                     <th>Station</th>
                     <th>Date</th>
                     <th>Total amount</th>
                     <th>Status</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               <thead class="filters">
                  <tr>
                     <th>
                        <input type="text" placeholder="Filter customer name" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter restaurant name" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter station code" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter date" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter total amount" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter status" class="form-control input-sm datatable_input_col_search" />
                     </th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="order in vm.orders" ng-class="order.id">
                     <td>{{order.customer.name}}</td>
                     <td>{{order.restaurant.name}}</td>
                     <td>{{order.stationCode}}</td>
                     <td>{{order.date | date:'MM/dd/yy h:mma'}}</td>
                     <td>{{order.totalAmount}}</td>
                     <td>{{order.status}}</td>
                     <td style="min-width:100px">
                        <div dropdown="dropdown" class="btn-group"><a type="button" ui-sref="app.orders-edit({id:order.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp Edit</a>
                           <button type="button" dropdown-toggle="" class="btn dropdown-toggle btn-default">
                              <span class="caret"></span>
                           </button>
                           <ul role="menu" class="dropdown-menu">
                              <li><a ui-sref="app.orders-view({id:order.id})"><i class="icon-magnifier"></i>&nbsp View</a>
                              </li>
                              <li><a href="javascript:void(0)" ng-click="vm.delete(order.id)"><i class="icon-trash"></i>&nbsp Delete</a>
                              </li>
                           </ul>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

client/master/jade/views/orders.jade
include helpers.jade
h3 Orders List
    small search and filter orders
.row.jobs.completed
    .col-lg-12
        .panel.panel-default
            .overlay(ng-show="loading")
                .loading
                    span(us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}")
                    .wait Please wait..
            +toolbar('order')
            .panel-body
                table.orders-datatable.table.table-striped.table-hover
                    thead
                        tr
                            th Customer
                            th Restaurant
                            th Station
                            th Date
                            th Total amount
                            th Status
                            th Actions
                    thead.filters
                        tr
                            +headerFilter('Filter customer name')
                            +headerFilter('Filter restaurant name')
                            +headerFilter('Filter station code')
                            +headerFilter('Filter date')
                            +headerFilter('Filter total amount')
                            +headerFilter('Filter status')
                    tbody
                        tr(ng-repeat="order in vm.orders", ng-class="order.id")
                            td {{order.customer.name}}
                            td {{order.restaurant.name}}
                            td {{order.stationCode}}
                            td {{order.date | date:'MM/dd/yy h:mma'}}
                            td {{order.totalAmount}}
                            td {{order.status}}
                            td(style="min-width:100px")
                                +dropdown_split('order')
