client/master/jade/views/restaurant-form.jade
include helpers.jade
h3 Restaurant Form
    small(ng-if="vm.action == 'upsert'") Fill the form and save a restaurant
.row
    .col-lg-12
        .panel.panel-default
            form(name="vm.restaurantForm", data-parsley-trigger="blur", validate-form='', novalidate='', ng-submit="vm.save()")
                .row
                    .col-lg-3.col-md-6
                        +textFormGroup('Name', 'vm.restaurant.name', true)
                        +textFormGroup('code', 'vm.restaurant.code', true)
                        +numberFormGroup('Mobile number', 'vm.restaurant.mobileNo', false)
                        +emailFormGroup('Email', 'vm.restaurant.email', false)
                        .form-group
                            label Station Code
                            select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="station.code as station.code for station in vm.stations", ng-model="vm.restaurant.stationCode")
                                option(value="") Select station
                            span(ng-if="vm.action=='view'") : {{vm.restaurant.stationCode}}
                    .col-lg-3.col-md-6
                        +numberFormGroup('Distance from station', 'vm.restaurant.distanceFromStation', false)
                        +numberFormGroup('Avg Price per Person', 'vm.restaurant.avgPricePerPerson', false)
                        +numberFormGroup('Minimum order amount', 'vm.restaurant.minOrderAmount', false)
                        +numberFormGroup('Delivery charges', 'vm.restaurant.deliveryCharges', false)
                        .form-group
                            label Rating
                            select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.restaurant.rating")
                                option(value="") Select option
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                                option(value="4") 4
                                option(value="5") 5
                            span(ng-if="vm.action=='view'") : {{vm.restaurant.rating}}

                    .col-lg-3.col-md-6

                        +timeInput('Morning Opening Time', 'vm.restaurant.morningOpeningTime', true)
                        +timeInput('Morning Closing Time', 'vm.restaurant.morningClosingTime', true)
                        +timeInput('Evening Opening Time', 'vm.restaurant.eveningOpeningTime', true)
                        +timeInput('Evening Closing Time', 'vm.restaurant.eveningClosingTime', true)
                        +numberFormGroup('Food type', 'vm.restaurant.foodType', false)
                    .col-lg-3.col-md-6
                        +textAreaFormGroup('Text','vm.restaurant.text', false)
                        +checkBox('Railway vendor', 'vm.restaurant.railwayVendor', false)
                        +checkBox('Jain food available', 'vm.restaurant.jainFoodAvailable', false)
                        +checkBox('Veg Items', 'vm.restaurant.vegItems', false)
                        +checkBox('Pizza', 'vm.restaurant.pizza', false)
                        +checkBox('North India', 'vm.restaurant.northIndia', false)
                        +checkBox('South India', 'vm.restaurant.southIndia', false)
                        +checkBox('Thali', 'vm.restaurant.thali', false)

                +imageUpload('Restaurant')

                .row
                    .col-sm-12
                        button.btn.btn-default.btn-success(type="submit", ng-if="vm.action == 'upsert'", ng-disabled="vm.saving")
                            span(ng-hide="vm.saving")
                                i.fa.fa-save
                                | &nbsp;Save
                            span.uploading(ng-show="vm.saving")
                                span(us-spinner="{radius:3, width:1, length: 5}")
                                span.btn-msg Saving..
                        a.btn.btn-default(ng-if="vm.action=='view'", ui-sref="app.restaurants-edit({id:vm.restaurant.id})")
                            i.icon-pencil
                            | &nbsp;Edit
                        | &nbsp;
                        a.btn.btn-default(ui-sref="app.restaurants")
                            i.icon-arrow-left
                            | &nbsp;Back to list

client/app/views/restaurant-form.html
<h3>Restaurant Form
   <small ng-if="vm.action == 'upsert'">Fill the form and save a restaurant</small>
</h3>
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <form name="vm.restaurantForm" data-parsley-trigger="blur" validate-form="" novalidate="" ng-submit="vm.save()">
            <div class="row">
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Name</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-required="true" ng-model="vm.restaurant.name" placeholder="Name" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.restaurant.name}}</span>
                  </div>
                  <div class="form-group">
                     <label>code</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-required="true" ng-model="vm.restaurant.code" placeholder="code" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.restaurant.code}}</span>
                  </div>
                  <div class="form-group">
                     <label>Mobile number</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="false" data-parsley-type="number" type="text" ng-model="vm.restaurant.mobileNo" placeholder="Mobile number" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.restaurant.mobileNo}}</span>
                  </div>
                  <div class="form-group">
                     <label>Email</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="email" data-parsley-required="false" ng-model="vm.restaurant.email" placeholder="Email" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.restaurant.email}}</span>
                  </div>
                  <div class="form-group">
                     <label>Station Code</label>
                     <select ng-if="vm.action == 'upsert'" required="required" ng-options="station.code as station.code for station in vm.stations" ng-model="vm.restaurant.stationCode" class="form-control">
                        <option value="">Select station</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.restaurant.stationCode}}</span>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Distance from station</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="false" data-parsley-type="number" type="text" ng-model="vm.restaurant.distanceFromStation" placeholder="Distance from station" class="form-control"
                     />
                     <span ng-if="vm.action=='view'">: {{vm.restaurant.distanceFromStation}}</span>
                  </div>
                  <div class="form-group">
                     <label>Avg Price per Person</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="false" data-parsley-type="number" type="text" ng-model="vm.restaurant.avgPricePerPerson" placeholder="Avg Price per Person" class="form-control"
                     />
                     <span ng-if="vm.action=='view'">: {{vm.restaurant.avgPricePerPerson}}</span>
                  </div>
                  <div class="form-group">
                     <label>Minimum order amount</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="false" data-parsley-type="number" type="text" ng-model="vm.restaurant.minOrderAmount" placeholder="Minimum order amount" class="form-control"
                     />
                     <span ng-if="vm.action=='view'">: {{vm.restaurant.minOrderAmount}}</span>
                  </div>
                  <div class="form-group">
                     <label>Delivery charges</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="false" data-parsley-type="number" type="text" ng-model="vm.restaurant.deliveryCharges" placeholder="Delivery charges" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.restaurant.deliveryCharges}}</span>
                  </div>
                  <div class="form-group">
                     <label>Rating</label>
                     <select ng-if="vm.action == 'upsert'" ng-model="vm.restaurant.rating" class="form-control">
                        <option value="">Select option</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.restaurant.rating}}</span>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Morning Opening Time</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="true" masked="" data-inputmask="'mask': '99:99'" type="text" ng-model="vm.restaurant.morningOpeningTime" placeholder="Morning Opening Time" class="form-control"
                     />
                     <span ng-if="vm.action=='view'">: {{vm.restaurant.morningOpeningTime}}</span>
                  </div>
                  <div class="form-group">
                     <label>Morning Closing Time</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="true" masked="" data-inputmask="'mask': '99:99'" type="text" ng-model="vm.restaurant.morningClosingTime" placeholder="Morning Closing Time" class="form-control"
                     />
                     <span ng-if="vm.action=='view'">: {{vm.restaurant.morningClosingTime}}</span>
                  </div>
                  <div class="form-group">
                     <label>Evening Opening Time</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="true" masked="" data-inputmask="'mask': '99:99'" type="text" ng-model="vm.restaurant.eveningOpeningTime" placeholder="Evening Opening Time" class="form-control"
                     />
                     <span ng-if="vm.action=='view'">: {{vm.restaurant.eveningOpeningTime}}</span>
                  </div>
                  <div class="form-group">
                     <label>Evening Closing Time</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="true" masked="" data-inputmask="'mask': '99:99'" type="text" ng-model="vm.restaurant.eveningClosingTime" placeholder="Evening Closing Time" class="form-control"
                     />
                     <span ng-if="vm.action=='view'">: {{vm.restaurant.eveningClosingTime}}</span>
                  </div>
                  <div class="form-group">
                     <label>Food type</label>
                     <input ng-if="vm.action == 'upsert'" data-parsley-required="false" data-parsley-type="number" type="text" ng-model="vm.restaurant.foodType" placeholder="Food type" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.restaurant.foodType}}</span>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Text</label>
                     <textarea ng-if="vm.action == 'upsert'" data-parsley-required="false" type="text" ng-model="vm.restaurant.text" placeholder="Text" class="form-control"></textarea>
                     <span ng-if="vm.action=='view'">: {{vm.restaurant.text}}</span>
                  </div>
                  <div class="form-group">
                     <div class="checkbox c-checkbox">
                        <label>
                           <input type="checkbox" data-parsley-required="false" ng-disabled="vm.action=='view'" ng-model="vm.restaurant.railwayVendor" />
                           <span class="fa fa-check"></span>Railway vendor</label>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="checkbox c-checkbox">
                        <label>
                           <input type="checkbox" data-parsley-required="false" ng-disabled="vm.action=='view'" ng-model="vm.restaurant.jainFoodAvailable" />
                           <span class="fa fa-check"></span>Jain food available</label>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="checkbox c-checkbox">
                        <label>
                           <input type="checkbox" data-parsley-required="false" ng-disabled="vm.action=='view'" ng-model="vm.restaurant.vegItems" />
                           <span class="fa fa-check"></span>Veg Items</label>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="checkbox c-checkbox">
                        <label>
                           <input type="checkbox" data-parsley-required="false" ng-disabled="vm.action=='view'" ng-model="vm.restaurant.pizza" />
                           <span class="fa fa-check"></span>Pizza</label>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="checkbox c-checkbox">
                        <label>
                           <input type="checkbox" data-parsley-required="false" ng-disabled="vm.action=='view'" ng-model="vm.restaurant.northIndia" />
                           <span class="fa fa-check"></span>North India</label>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="checkbox c-checkbox">
                        <label>
                           <input type="checkbox" data-parsley-required="false" ng-disabled="vm.action=='view'" ng-model="vm.restaurant.southIndia" />
                           <span class="fa fa-check"></span>South India</label>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="checkbox c-checkbox">
                        <label>
                           <input type="checkbox" data-parsley-required="false" ng-disabled="vm.action=='view'" ng-model="vm.restaurant.thali" />
                           <span class="fa fa-check"></span>Thali</label>
                     </div>
                  </div>
               </div>
            </div>
            <div nv-file-drop="nv-file-drop" uploader="vm.uploader" ng-if="!vm.noFiles" class="row">
               <div ng-hide="vm.action=='view'" style="margin-bottom:20px" class="col-md-3">
                  <h3>Restaurant Images</h3>
                  <div ng-show="vm.uploader.isHTML5">
                     <div nv-file-drop="nv-file-drop" over-class="bg-info" uploader="vm.uploader" nv-file-over="another-file-over-class" class="box-placeholder my-drop-zone">Drop Files Here</div>
                  </div>
                  <input id="filestyle-0" type="file" data-button-text="Multiple" data-class-button="btn btn-default" data-class-input="form-control inline" nv-file-select="" uploader="vm.uploader" multiple="" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);"
                  class="form-control" />
                  <div class="bootstrap-filestyle input-group">
                     <input type="text" disabled="" class="form-control" />
                     <span tabindex="0" class="group-span-filestyle input-group-btn">
                        <label for="filestyle-0" class="btn btn-default">
                           <span class="fa fa-folder-open"></span>Select Files</label>
                     </span>
                  </div>
               </div>
               <div style="margin-bottom: 40px" ng-hide="vm.action=='view' || vm.uploader.queue.length === 0" class="col-md-9">
                  <h3>Upload queue</h3>
                  <p>Queue length: {{ vm.uploader.queue.length }}</p>
                  <table class="table">
                     <thead>
                        <tr>
                           <th width="50%">Name</th>
                           <th ng-show="vm.uploader.isHTML5">Size</th>
                           <th ng-show="vm.uploader.isHTML5">Progress</th>
                           <th>Status</th>
                           <th>Actions</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="item in vm.uploader.queue">
                           <td>
                              <strong>{{ item.file.name }}</strong>
                           </td>
                           <td ng-show="vm.uploader.isHTML5" nowrap="">{{item.file.size/1024/1024|number:2 }} MB</td>
                           <td ng-show="vm.uploader.isHTML5">
                              <div style="margin-bottom: 0;" class="progress">
                                 <div role="progressbar" ng-style="{ 'width': item.progress + '%' }" class="progress-bar"></div>
                              </div>
                           </td>
                           <td class="text-center">
                              <span ng-show="item.isSuccess"><i class="fa fa-check"></i>
                              </span>
                              <span ng-show="item.isCancel"><i class="fa icon-close"></i>
                              </span>
                              <span ng-show="item.isError"><i class="fa fa-trash"></i>
                              </span>
                           </td>
                           <td nowrap="">
                              <button type="button" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" class="btn btn-success btn-xs">
                                 <span class="icon-cloud-upload">&nbsp;</span>Upload</button>
                              <button type="button" ng-click="item.cancel()" ng-disabled="!item.isUploading" class="btn btn-warning btn-xs">
                                 <span class="fa icon-close">&nbsp;</span>Cancel</button>
                              <button type="button" ng-click="item.remove()" class="btn btn-danger btn-xs">
                                 <span class="fa fa-trash">&nbsp;</span>Remove</button>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <div>
                     <p>Queue progress:
                        <div style="" class="progress">
                           <div role="progressbar" ng-style="{ 'width': vm.uploader.progress + '%' }" class="progress-bar"></div>
                        </div>
                     </p>
                     <button type="button" ng-click="vm.uploader.uploadAll()" ng-disabled="!vm.uploader.getNotUploadedItems().length" class="btn btn-success">
                        <span class="icon-cloud-upload">&nbsp;</span>Upload all</button>
                     <button type="button" ng-click="vm.uploader.cancelAll()" ng-disabled="!vm.uploader.isUploading" class="btn btn-warning btn-s">
                        <span class="fa icon-close">&nbsp;</span>Cancel all</button>
                     <button type="button" ng-click="vm.uploader.clearQueue()" ng-disabled="!vm.uploader.queue.length" class="btn btn-danger btn-s">
                        <span class="icon-trash">&nbsp;</span>Remove all</button>
                  </div>
               </div>
               <div ng-show="vm.files.length" class="col-md-12">
                  <h3>Uploaded Images</h3>
               </div>
               <div style="margin-bottom: 40px" class="col-md-5">
                  <table class="table">
                     <tbody>
                        <tr ng-repeat="file in vm.files.slice(0, vm.halfLength)">
                           <td>
                              <a href="/api/containers/{{vm.containerId}}/download/{{file.name}}" target="blank">
                                 <img ng-src="/api/containers/{{vm.containerId}}/download/{{file.name}}" style="max-width:50px;" />
                              </a>
                           </td>
                           <td>
                              <a href="/api/containers/{{vm.containerId}}/download/{{file.name}}" target="blank">
                                 <strong>{{file.name}}</strong>
                              </a>
                           </td>
                           <td></td>
                           <td ng-hide="vm.action=='view'">
                              <button type="button" ng-click="vm.deleteFile($index, file.name)" title="Delete the file" class="btn btn-danger btn-xs">
                                 <span class="icon-trash">&nbsp;</span>Remove</button>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <div style="margin-bottom: 40px" class="col-md-5">
                  <table class="table">
                     <tbody>
                        <tr ng-repeat="file in vm.files.slice(vm.halfLength)">
                           <td>
                              <a href="/api/containers/{{vm.containerId}}/download/{{file.name}}" target="blank">
                                 <img ng-src="/api/containers/{{vm.containerId}}/download/{{file.name}}" style="max-width:50px;" />
                              </a>
                           </td>
                           <td>
                              <a href="/api/containers/{{vm.containerId}}/download/{{file.name}}" target="blank">
                                 <strong>{{file.name}}</strong>
                              </a>
                           </td>
                           <td></td>
                           <td ng-hide="vm.action=='view'">
                              <button type="button" ng-click="vm.deleteFile($index, file.name)" title="Delete the file" class="btn btn-danger btn-xs">
                                 <span class="icon-trash">&nbsp;</span>Remove</button>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <button type="submit" ng-if="vm.action == 'upsert'" ng-disabled="vm.saving" class="btn btn-default btn-success">
                     <span ng-hide="vm.saving"><i class="fa fa-save"></i>&nbsp;Save</span>
                     <span ng-show="vm.saving" class="uploading">
                        <span us-spinner="{radius:3, width:1, length: 5}"></span>
                        <span class="btn-msg">Saving..</span>
                     </span>
                  </button><a ng-if="vm.action=='view'" ui-sref="app.restaurants-edit({id:vm.restaurant.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp;Edit</a>&nbsp;<a ui-sref="app.restaurants" class="btn btn-default"><i class="icon-arrow-left"></i>&nbsp;Back to list</a>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
