client/app/views/restaurants.html
<h3>Restaurants List
   <small>search and filter restaurants</small>
</h3>
<div class="row jobs completed">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div ng-show="loading" class="overlay">
            <div class="loading">
               <span us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}"></span>
               <div class="wait">Please wait..</div>
            </div>
         </div>
         <div class="panel-heading">
            <div class="row">
               <div class="col-md-6">
                  <div class="toolbar"><a ui-sref="app.restaurants-new" class="btn btn-default"><i class="icon-plus"></i>&nbsp;Add new</a>
                     <div class="btn file-input-wrap btn-default">
                        <input type="file" name="upfile" class="upload-select" />
                        <span ng-hide="vm.uploading"><i class="icon-cloud-upload"></i>&nbsp; Bulk upload</span>
                        <span ng-show="vm.uploading" class="uploading">
                           <span us-spinner="{radius:3, width:1, length: 5}"></span>
                           <span class="btn-msg">Uploading..</span>
                        </span>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="search-box">
                     <form class="form-horizontal">
                        <div class="form-group">
                           <label for="search-input" class="col-sm-4 no-pr control-label">Search all columns:</label>
                           <div class="col-sm-8">
                              <input id="search-input" type="text" ng-keyup="vm.search()" ng-model="vm.searchQuery" placeholder="Search for..." class="form-control" />
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <table class="restaurants-datatable table table-striped table-hover">
               <thead>
                  <tr>
                     <th>Name</th>
                     <th>Mobile #</th>
                     <th>Email</th>
                     <th>Station Code</th>
                     <th>Morning open time</th>
                     <th>Morning close time</th>
                     <th>Evening open time</th>
                     <th>Evening close time</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               <thead class="filters">
                  <tr>
                     <th>
                        <input type="text" placeholder="Filter Name" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Mobile #" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Email" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Station Code" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter M. open time" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter M. close time" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter E. open tywime" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter E. close time" class="form-control input-sm datatable_input_col_search" />
                     </th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="restaurant in vm.restaurants" ng-class="restaurant.id">
                     <td>{{restaurant.name}}</td>
                     <td>{{restaurant.mobileNo}}</td>
                     <td>{{restaurant.email}}</td>
                     <td>{{restaurant.stationCode}}</td>
                     <td>{{restaurant.morningOpeningTime}}</td>
                     <td>{{restaurant.morningClosingTime}}</td>
                     <td>{{restaurant.eveningOpeningTime}}</td>
                     <td>{{restaurant.eveningClosingTime}}</td>
                     <td style="min-width:170px">
                        <div dropdown="dropdown" class="btn-group"><a type="button" ui-sref="app.restaurants-edit({id:restaurant.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp Edit</a>
                           <button type="button" dropdown-toggle="" class="btn dropdown-toggle btn-default">
                              <span class="caret"></span>
                           </button>
                           <ul role="menu" class="dropdown-menu">
                              <li><a ui-sref="app.restaurants-view({id:restaurant.id})"><i class="icon-magnifier"></i>&nbsp View</a>
                              </li>
                              <li><a href="javascript:void(0)" ng-click="vm.delete(restaurant.id)"><i class="icon-trash"></i>&nbsp Delete</a>
                              </li>
                           </ul>
                        </div>&nbsp;<a type="button" ui-sref="app.restaurants-items({restaurantId:restaurant.id})" class="btn btn-default"><i class="icon-list"></i>&nbsp items</a>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

client/master/jade/views/restaurants.jade
include helpers.jade
h3 Restaurants List
    small search and filter restaurants
.row.jobs.completed
    .col-lg-12
        .panel.panel-default
            .overlay(ng-show="loading")
                .loading
                    span(us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}")
                    .wait Please wait..
            +toolbar('restaurant', true)
            .panel-body
                table.restaurants-datatable.table.table-striped.table-hover
                    thead
                        tr
                            th Name
                            th Mobile #
                            th Email
                            th Station Code
                            th Morning open time
                            th Morning close time
                            th Evening open time
                            th Evening close time
                            th Actions
                    thead.filters
                        tr
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Name')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Mobile #')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Email')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Station Code')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter M. open time')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter M. close time')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter E. open tywime')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter E. close time')
                    tbody
                        tr(ng-repeat="restaurant in vm.restaurants", ng-class="restaurant.id")
                            td {{restaurant.name}}
                            td {{restaurant.mobileNo}}
                            td {{restaurant.email}}
                            td {{restaurant.stationCode}}
                            td {{restaurant.morningOpeningTime}}
                            td {{restaurant.morningClosingTime}}
                            td {{restaurant.eveningOpeningTime}}
                            td {{restaurant.eveningClosingTime}}
                            td(style="min-width:170px")
                                +dropdown_split('restaurant')
                                | &nbsp;
                                a.btn(type='button', ui-sref="app.restaurants-items({restaurantId:restaurant.id})", class="btn-default")
                                    i.icon-list
                                    | &nbsp items
