client/master/jade/views/subcategories.jade
include helpers.jade

h3  SubCategory List
    small search and filter  subCategories
.row.jobs.completed
    .col-lg-12
        .panel.panel-default
            +toolbar('subCategorie')
            .panel-body
                table.subCategories-datatable.table.table-striped.table-hover
                    thead
                        tr
                            th Name
                            th Code
                            th Actions
                    thead.filters
                        tr
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Name')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Code')
                            th
                    tbody
                        tr(ng-repeat="subCategory in vm.subCategories", ng-class="subCategory.id")
                            td {{subCategory.name}}
                            td {{subCategory.code}}
                            td
                                a.btn.btn-default(ui-sref="app.subCategories-edit({id:subCategory.id})")
                                    i.icon-pencil
                                    | &nbsp;Edit
                                | &nbsp
                                a.btn.btn-default(ng-click="vm.delete(subCategory.id)")
                                    i.icon-trash
                                    | &nbsp;Delete

client/app/views/subcategories.html
<h3>SubCategory List
   <small>search and filter subCategories</small>
</h3>
<div class="row jobs completed">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="row">
               <div class="col-md-6">
                  <div class="toolbar"><a ui-sref="app.subCategories-new" class="btn btn-default"><i class="icon-plus"></i>&nbsp;Add new</a>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="search-box">
                     <form class="form-horizontal">
                        <div class="form-group">
                           <label for="search-input" class="col-sm-4 no-pr control-label">Search all columns:</label>
                           <div class="col-sm-8">
                              <input id="search-input" type="text" ng-keyup="vm.search()" ng-model="vm.searchQuery" placeholder="Search for..." class="form-control" />
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <table class="subCategories-datatable table table-striped table-hover">
               <thead>
                  <tr>
                     <th>Name</th>
                     <th>Code</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               <thead class="filters">
                  <tr>
                     <th>
                        <input type="text" placeholder="Filter Name" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Code" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="subCategory in vm.subCategories" ng-class="subCategory.id">
                     <td>{{subCategory.name}}</td>
                     <td>{{subCategory.code}}</td>
                     <td><a ui-sref="app.subCategories-edit({id:subCategory.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp;Edit</a>&nbsp<a ng-click="vm.delete(subCategory.id)" class="btn btn-default"><i class="icon-trash"></i>&nbsp;Delete</a>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
