client/app/views/subcategory-form.html
<h3>SubCategory Form
   <small ng-if="vm.action == 'upsert'">Fill the form and save a SubCategory</small>
</h3>
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <form name="vm.subCategoryForm" data-parsley-trigger="blurr" validate-form="" novalidate="" ng-submit="vm.save()">
            <div class="row">
               <div class="col-lg-3">
                  <div class="form-group">
                     <label>Name</label>
                     <input ng-if="vm.action == 'upsert'" required="required" name="name" type="text" ng-model="vm.subCategory.name" placeholder="subCategory Name" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.subCategory.name}}</span>
                  </div>
                  <div class="form-group">
                     <label>Code</label>
                     <input ng-if="vm.action == 'upsert'" required="required" type="text" ng-model="vm.subCategory.code" placeholder="subCategory Code" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.subCategory.code}}</span>
                  </div>
                  <div class="form-group">
                     <label>Category</label>
                     <select ng-if="vm.action == 'upsert'" required="required" ng-options="category.id as category.name for category in vm.categories" ng-model="vm.subCategory.categoryId" class="form-control">
                        <option value="">Select category</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.subCategory.category.name}}</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <button type="submit" ng-if="vm.action == 'upsert'" ng-disabled="vm.saving" class="btn btn-default btn-success">
                     <span ng-hide="vm.saving"><i class="fa fa-save"></i>&nbsp;Save</span>
                     <span ng-show="vm.saving" class="uploading">
                        <span us-spinner="{radius:3, width:1, length: 5}"></span>
                        <span class="btn-msg">Saving..</span>
                     </span>
                  </button><a ng-if="vm.action=='view'" ui-sref="app.subCategories-edit({id:vm.subCategory.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp;Edit</a><a ui-sref="app.subCategories" class="btn btn-default"><i class="icon-arrow-left"></i>&nbsp;Back to list</a>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>

client/master/jade/views/subcategory-form.jade
include helpers.jade
h3  SubCategory Form
    small(ng-if="vm.action == 'upsert'") Fill the form and save a  SubCategory
.row
    .col-lg-12
        .panel.panel-default
            form(name="vm.subCategoryForm", data-parsley-trigger="blurr", validate-form='', novalidate='', ng-submit="vm.save()")
                .row
                    .col-lg-3
                        .form-group
                            label Name
                            input.form-control(ng-if="vm.action == 'upsert'", required, name="name", type="text", ng-model="vm.subCategory.name", placeholder="subCategory Name")
                            span(ng-if="vm.action=='view'") : {{vm.subCategory.name}}
                        .form-group
                            label Code
                            input.form-control(ng-if="vm.action == 'upsert'", required, type="text", ng-model="vm.subCategory.code", placeholder="subCategory Code")
                            span(ng-if="vm.action=='view'") : {{vm.subCategory.code}}
                        .form-group
                            label Category
                            select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="category.id as category.name for category in vm.categories", ng-model="vm.subCategory.categoryId")
                                option(value="") Select category
                            span(ng-if="vm.action=='view'") : {{vm.subCategory.category.name}}
                .row
                    .col-sm-12
                        button.btn.btn-default.btn-success(type="submit", ng-if="vm.action == 'upsert'", ng-disabled="vm.saving")
                            span(ng-hide="vm.saving")
                                i.fa.fa-save
                                | &nbsp;Save
                            span.uploading(ng-show="vm.saving")
                                span(us-spinner="{radius:3, width:1, length: 5}")
                                span.btn-msg Saving..
                        a.btn.btn-default(ng-if="vm.action=='view'", ui-sref="app.subCategories-edit({id:vm.subCategory.id})")
                            i.icon-pencil
                            | &nbsp;Edit
                        a.btn.btn-default(ui-sref="app.subCategories")
                            i.icon-arrow-left
                            | &nbsp;Back to list
