client/app/views/train-raiting-form.html
<div ng-controller="TrainRatingFormController as vm">
   <h3>Train Rating Form
      <small ng-if="vm.action == 'upsert'">Fill the form and save a train rating</small>
   </h3>
   <div class="row">
      <div class="col-lg-12">
         <div class="panel panel-default">
            <form name="vm.trainRatingForm" data-parsley-trigger="blur" validate-form="" novalidate="" ng-submit="vm.save()">
               <div class="row">
                  <div class="col-lg-3 col-md-6">
                     <div class="form-group">
                        <label>PNR</label>
                        <select ng-if="vm.action == 'upsert'" required="required" ng-options="pnr.id as pnr.pnr for pnr in vm.pnrs" ng-model="vm.trainRating.pnr" class="form-control">
                           <option value="">Select PNR</option>
                        </select>
                        <span ng-if="vm.action=='view'">: {{vm.trainRating.PNR.pnr}}</span>
                     </div>
                     <div class="form-group">
                        <label>Trip</label>
                        <select ng-if="vm.action == 'upsert'" required="required" ng-options="trip.id as trip.name for trip in vm.trips" ng-model="vm.trainRating.tripId" class="form-control">
                           <option value="">Select trip</option>
                        </select>
                        <span ng-if="vm.action=='view'">: {{vm.trainRating.trip.name}}</span>
                     </div>
                     <div class="form-group">
                        <label>Train</label>
                        <select ng-if="vm.action == 'upsert'" required="required" ng-options="train.id as train.number for train in vm.trains" ng-model="vm.trainRating.trainId" class="form-control">
                           <option value="">Select Train</option>
                        </select>
                        <span ng-if="vm.action=='view'">: {{vm.trainRating.train.number}}</span>
                     </div>
                     <div class="form-group">
                        <label>Food Quality</label>
                        <select ng-if="vm.action == 'upsert'" ng-model="vm.trainRating.foodQuality" class="form-control">
                           <option value="">Select food quality</option>
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                        </select>
                        <span ng-if="vm.action=='view'">: {{vm.train.foodQuality}}</span>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                     <div class="form-group">
                        <label>Clean</label>
                        <select ng-if="vm.action == 'upsert'" ng-model="vm.trainRating.clean" class="form-control">
                           <option value="">Select option</option>
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                        </select>
                        <span ng-if="vm.action=='view'">: {{vm.trainRating.clean}}</span>
                     </div>
                     <div class="form-group">
                        <label>Crowded</label>
                        <select ng-if="vm.action == 'upsert'" ng-model="vm.trainRating.crowded" class="form-control">
                           <option value="">Select option</option>
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                        </select>
                        <span ng-if="vm.action=='view'">: {{vm.trainRating.crowded}}</span>
                     </div>
                     <div class="form-group">
                        <label>Delay</label>
                        <select ng-if="vm.action == 'upsert'" ng-model="vm.trainRating.delay" class="form-control">
                           <option value="">Select option</option>
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                        </select>
                        <span ng-if="vm.action=='view'">: {{vm.trainRating.delay}}</span>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <button type="submit" ng-if="vm.action == 'upsert'" ng-disabled="vm.saving" class="btn btn-default btn-success">
                        <span ng-hide="vm.saving"><i class="fa fa-save"></i>&nbsp;Save</span>
                        <span ng-show="vm.saving" class="uploading">
                           <span us-spinner="{radius:3, width:1, length: 5}"></span>
                           <span class="btn-msg">Saving..</span>
                        </span>
                     </button><a ng-if="vm.action=='view'" ui-sref="app.trainRatings-edit({id:vm.trainRating.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp;Edit</a>&nbsp;<a ui-sref="app.trainRatings" class="btn btn-default"><i class="icon-arrow-left"></i>&nbsp;Back to list</a>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

client/master/jade/views/train-raiting-form.jade
div(ng-controller="TrainRatingFormController as vm")
    h3 Train Rating Form
        small(ng-if="vm.action == 'upsert'") Fill the form and save a train rating
    .row
        .col-lg-12
            .panel.panel-default
                form(name="vm.trainRatingForm", data-parsley-trigger="blur", validate-form='', novalidate='', ng-submit="vm.save()")
                    .row
                        .col-lg-3.col-md-6
                            .form-group
                                label PNR
                                select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="pnr.id as pnr.pnr for pnr in vm.pnrs", ng-model="vm.trainRating.pnr")
                                    option(value="") Select PNR
                                span(ng-if="vm.action=='view'") : {{vm.trainRating.PNR.pnr}}
                            .form-group
                                label Trip
                                select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="trip.id as trip.name for trip in vm.trips", ng-model="vm.trainRating.tripId")
                                    option(value="") Select trip
                                span(ng-if="vm.action=='view'") : {{vm.trainRating.trip.name}}
                            .form-group
                                label Train
                                select.form-control(ng-if="vm.action == 'upsert'", required, ng-options="train.id as train.number for train in vm.trains", ng-model="vm.trainRating.trainId")
                                    option(value="") Select Train
                                span(ng-if="vm.action=='view'") : {{vm.trainRating.train.number}}
                            .form-group
                                label Food Quality
                                select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.trainRating.foodQuality")
                                    option(value="") Select food quality
                                    option(value="1") 1
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                                span(ng-if="vm.action=='view'") : {{vm.train.foodQuality}}

                        .col-lg-3.col-md-6

                            .form-group
                                label Clean
                                select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.trainRating.clean")
                                    option(value="") Select option
                                    option(value="1") 1
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                                span(ng-if="vm.action=='view'") : {{vm.trainRating.clean}}

                            .form-group
                                label Crowded
                                select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.trainRating.crowded")
                                    option(value="") Select option
                                    option(value="1") 1
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                                span(ng-if="vm.action=='view'") : {{vm.trainRating.crowded}}

                            .form-group
                                label Delay
                                select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.trainRating.delay")
                                    option(value="") Select option
                                    option(value="1") 1
                                    option(value="2") 2
                                    option(value="3") 3
                                    option(value="4") 4
                                    option(value="5") 5
                                span(ng-if="vm.action=='view'") : {{vm.trainRating.delay}}
                    .row
                        .col-sm-12
                            button.btn.btn-default.btn-success(type="submit", ng-if="vm.action == 'upsert'", ng-disabled="vm.saving")
                                span(ng-hide="vm.saving")
                                    i.fa.fa-save
                                    | &nbsp;Save
                                span.uploading(ng-show="vm.saving")
                                    span(us-spinner="{radius:3, width:1, length: 5}")
                                    span.btn-msg Saving..
                            a.btn.btn-default(ng-if="vm.action=='view'", ui-sref="app.trainRatings-edit({id:vm.trainRating.id})")
                                i.icon-pencil
                                | &nbsp;Edit
                            | &nbsp;
                            a.btn.btn-default(ui-sref="app.trainRatings")
                                i.icon-arrow-left
                                | &nbsp;Back to list
