client/app/views/trains.html
<h3>Trains List
   <small>search and filter trains</small>
</h3>
<div class="row jobs completed">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div ng-show="loading" class="overlay">
            <div class="loading">
               <span us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}"></span>
               <div class="wait">Please wait..</div>
            </div>
         </div>
         <div class="panel-heading">
            <div class="row">
               <div class="col-md-6">
                  <div class="toolbar"><a ui-sref="app.trains-new" class="btn btn-default"><i class="icon-plus"></i>&nbsp;Add new</a>
                     <div class="btn file-input-wrap btn-default">
                        <input type="file" name="upfile" class="upload-select" />
                        <span ng-hide="vm.uploading"><i class="icon-cloud-upload"></i>&nbsp; Bulk upload</span>
                        <span ng-show="vm.uploading" class="uploading">
                           <span us-spinner="{radius:3, width:1, length: 5}"></span>
                           <span class="btn-msg">Uploading..</span>
                        </span>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="search-box">
                     <form class="form-horizontal">
                        <div class="form-group">
                           <label for="search-input" class="col-sm-4 no-pr control-label">Search all columns:</label>
                           <div class="col-sm-8">
                              <input id="search-input" type="text" ng-keyup="vm.search()" ng-model="vm.searchQuery" placeholder="Search for..." class="form-control" />
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <table class="trains-datatable table table-striped table-hover">
               <thead>
                  <tr>
                     <th style="max-width:50px;">#</th>
                     <th>Name</th>
                     <th>Start Station Code</th>
                     <th>End Station Code</th>
                     <th>Total Run Distance</th>
                     <th>Total Run Time</th>
                     <th>Route</th>
                     <th>Added On</th>
                     <th>Updated On</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               <thead class="filters">
                  <tr>
                     <th style="max-width:50px;">
                        <input type="text" placeholder="" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Name" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Start station" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter End Station" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Total distance" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Total time" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Route" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Added On" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Upadted on" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="train in vm.trains" ng-class="train.id">
                     <td>{{train.number}}</td>
                     <td>{{train.name}}</td>
                     <td>{{train.startStationCode}}</td>
                     <td>{{train.endStationCode}}</td>
                     <td>{{train.totalRunDistance}}</td>
                     <td>{{train.totalRunTime}}</td>
                     <td>{{train.route}}</td>
                     <td>{{train.addedOn | date:'MM/dd/yy h:mma'}}</td>
                     <td>{{train.updatedOn | date:'MM/dd/yy h:mma'}}</td>
                     <td><a ui-sref="app.trains-view({id:train.id})" class="btn btn-default"><i class="icon-magnifier"></i>&nbsp;View</a>&nbsp<a ui-sref="app.trains-edit({id:train.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp;Edit</a>&nbsp
                        <a
                        ui-sref="app.train-routes({trainNo:train.number})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp;Routes</a>&nbsp<a ng-click="vm.delete(train.id)" class="btn btn-default"><i class="icon-trash"></i>&nbsp;Delete</a>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

client/master/jade/views/trains.jade
h3 Trains List
    small search and filter trains

.row.jobs.completed
    .col-lg-12
        .panel.panel-default
            .overlay(ng-show="loading")
                .loading
                    span(us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}")
                    .wait Please wait..
            .panel-heading
                .row
                    .col-md-6
                        .toolbar
                            a.btn.btn-default(ui-sref="app.trains-new")
                                i.icon-plus
                                | &nbsp;Add new

                            .btn.file-input-wrap.btn-default
                                input.upload-select(type='file', name="upfile")
                                span(ng-hide="vm.uploading")
                                    i.icon-cloud-upload
                                    | &nbsp; Bulk upload
                                span.uploading(ng-show="vm.uploading")
                                    span(us-spinner="{radius:3, width:1, length: 5}")
                                    span.btn-msg Uploading..
                    .col-md-6
                        .search-box
                            form.form-horizontal
                                .form-group
                                    label.col-sm-4.no-pr.control-label(for="search-input") Search all columns:
                                    .col-sm-8
                                        input#search-input.form-control(type="text", ng-keyup="vm.search()", ng-model="vm.searchQuery", placeholder="Search for...")

            .panel-body
                table.trains-datatable.table.table-striped.table-hover
                    thead
                        tr
                            th(style="max-width:50px;") #
                            th Name
                            th Start Station Code
                            th End Station Code
                            th Total Run Distance
                            th Total Run Time
                            th Route
                            th Added On
                            th Updated On
                            th Actions

                    thead.filters
                        tr
                            th(style="max-width:50px;")
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Name')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Start station')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter End Station')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Total distance')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Total time')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Route')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Added On')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Upadted on')
                            th

                    tbody
                        tr(ng-repeat="train in vm.trains", ng-class="train.id")
                            td {{train.number}}
                            td {{train.name}}
                            td {{train.startStationCode}}
                            td {{train.endStationCode}}
                            td {{train.totalRunDistance}}
                            td {{train.totalRunTime}}
                            td {{train.route}}
                            td {{train.addedOn | date:'MM/dd/yy h:mma'}}
                            td {{train.updatedOn | date:'MM/dd/yy h:mma'}}
                            td
                                a.btn.btn-default(ui-sref="app.trains-view({id:train.id})")
                                    i.icon-magnifier
                                    | &nbsp;View
                                | &nbsp
                                a.btn.btn-default(ui-sref="app.trains-edit({id:train.id})")
                                    i.icon-pencil
                                    | &nbsp;Edit
                                | &nbsp
                                a.btn.btn-default(ui-sref="app.train-routes({trainNo:train.number})")
                                    i.icon-pencil
                                    | &nbsp;Routes
                                | &nbsp
                                a.btn.btn-default(ng-click="vm.delete(train.id)")
                                    i.icon-trash
                                    | &nbsp;Delete
