client/master/jade/views/train-form.jade
include helpers.jade
h3 Train Form
    small(ng-if="vm.action == 'upsert'") Fill the form and save a train
.row
    .col-lg-12
        .panel.panel-default
            form(name="vm.trainForm", data-parsley-trigger="blur", validate-form='', novalidate='', ng-submit="vm.save()")
                .row
                    .col-lg-3.col-md-6

                        .form-group
                            label Number
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", required, ng-model="vm.train.number", placeholder="Train Number")
                            span(ng-if="vm.action=='view'") : {{vm.train.number}}

                        .form-group
                            label Name
                            input.form-control(ng-if="vm.action == 'upsert'", name="name", type="text", required, ng-model="vm.train.name", placeholder="Train Name")
                            span(ng-if="vm.action=='view'") : {{vm.train.name}}

                        .form-group
                            label Start Station Code
                            select.form-control(ng-if="vm.action == 'upsert'", required ng-options="station.code as station.code for station in vm.stations", ng-model="vm.train.startStationCode")
                                option(value="") Select station code
                            span(ng-if="vm.action=='view'") : {{vm.train.startStationCode}}

                        .form-group
                            label End Station Code
                            select.form-control(ng-if="vm.action == 'upsert'", required ng-options="station.code as station.code for station in vm.stations", ng-model="vm.train.endStationCode")
                                option(value="") Select station code
                            span(ng-if="vm.action=='view'") : {{vm.train.endStationCode}}

                        .form-group
                            label Route
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.train.route", placeholder="Route")
                            span(ng-if="vm.action=='view'") : {{vm.train.route}}

                        .form-group
                            label Total Run Distance
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", required, ng-model="vm.train.totalRunDistance", placeholder="Total Run Distance")
                            span(ng-if="vm.action=='view'") : {{vm.train.totalRunDistance}}

                        .form-group
                            label Total Run Time (in minutes)
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", required, ng-model="vm.train.totalRunTime", placeholder="Total Run Time")
                            span(ng-if="vm.action=='view'") : {{vm.train.totalRunTime}}

                        .form-group
                            label Halts / Stoppages
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.train.halts", placeholder="Train Halts")
                            span(ng-if="vm.action=='view'") : {{vm.train.halts}}

                    .col-lg-3.col-md-6

                        .form-group
                            label Avg delay time  (in minutes)
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.train.avgDelayTime", placeholder="Avg delay time")
                            span(ng-if="vm.action=='view'") : {{vm.train.avgDelayTime}}

                        .form-group
                            label Avg train speed
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.train.avgSpeed", placeholder="Avg train speed")
                            span(ng-if="vm.action=='view'") : {{vm.train.avgSpeed}}

                        .form-group
                            label Train Type
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.train.type", placeholder="Train Type")
                            span(ng-if="vm.action=='view'") : {{vm.train.type}}

                        .form-group
                            label Food Quality
                            select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.train.foodQuality")
                                option(value="") Select food quality
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                                option(value="4") 4
                                option(value="5") 5
                            span(ng-if="vm.action=='view'") : {{vm.train.foodQuality}}

                        .form-group
                            label Clean
                            select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.train.clean")
                                option(value="") Select option
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                                option(value="4") 4
                                option(value="5") 5
                            span(ng-if="vm.action=='view'") : {{vm.train.clean}}

                        .form-group
                            label Crowded
                            select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.train.crowded")
                                option(value="") Select option
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                                option(value="4") 4
                                option(value="5") 5
                            span(ng-if="vm.action=='view'") : {{vm.train.crowded}}

                        .form-group
                            label Delay
                            select.form-control(ng-if="vm.action == 'upsert'", ng-model="vm.train.delay")
                                option(value="") Select option
                                option(value="1") 1
                                option(value="2") 2
                                option(value="3") 3
                                option(value="4") 4
                                option(value="5") 5
                            span(ng-if="vm.action=='view'") : {{vm.train.delay}}
                        .form-group
                            label Tickets Availability
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.train.ticketsAvailability", placeholder="Tickets Availability")
                            span(ng-if="vm.action=='view'") : {{vm.train.ticketsAvailability}}

                    .col-lg-3.col-md-6
                        .form-group
                            label General Seats
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.train.generalSeats", placeholder="Train General Seats")
                            span(ng-if="vm.action=='view'") : {{vm.train.generalSeats}}

                        .form-group
                            label Sleeper Seats
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.train.sleeperSeats", placeholder="Train Sleeper Seats")
                            span(ng-if="vm.action=='view'") : {{vm.train.sleeperSeats}}

                        .form-group
                            label 3AC Seats
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.train.3ACSeats", placeholder="3AC Seats")
                            span(ng-if="vm.action=='view'") : {{vm.train.3ACSeats}}

                        .form-group
                            label 2AC Seats
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.train.2ACSeats", placeholder="2AC Seats")
                            span(ng-if="vm.action=='view'") : {{vm.train.2ACSeats}}

                        .form-group
                            label 1AC Seats
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.train.1ACSeats", placeholder="1AC Seats")
                            span(ng-if="vm.action=='view'") : {{vm.train.1ACSeats}}

                        .form-group
                            label AC Sitting
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.train.ACSitting", placeholder="AC Sitting")
                            span(ng-if="vm.action=='view'") : {{vm.train.ACSitting}}

                        .form-group
                            label Non AC Sitting
                            input.form-control(ng-if="vm.action == 'upsert'", type="text", data-parsley-type="number", ng-model="vm.train.nonACSitting", placeholder="Non AC Sitting")
                            span(ng-if="vm.action=='view'") : {{vm.train.nonACSitting}}
                    .col-lg-3.col-md-6
                        .form-group
                            label Brief Writeup
                            textarea.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.train.briefWireup", placeholder="Train Brief Writeup")
                            span(ng-if="vm.action=='view'") : {{vm.train.briefWireup}}

                        .form-group
                            label Precautions and Comments
                            textarea.form-control(ng-if="vm.action == 'upsert'", type="text", ng-model="vm.train.precoutionsAndComments", placeholder="Precautions and Comments")
                            span(ng-if="vm.action=='view'") : {{vm.train.precoutionsAndComments}}

                        .form-group
                            .checkbox.c-checkbox
                                label
                                    input(type='checkbox',ng-disabled="vm.action=='view'" ng-model="vm.train.pantryCheck")
                                    span.fa.fa-check
                                    |  Pantry Check

                +imageUpload('Train')

                .row
                    .col-sm-12
                        button.btn.btn-default.btn-success(type="submit", ng-if="vm.action == 'upsert'", ng-disabled="vm.saving")
                            span(ng-hide="vm.saving")
                                i.fa.fa-save
                                | &nbsp;Save
                            span.uploading(ng-show="vm.saving")
                                span(us-spinner="{radius:3, width:1, length: 5}")
                                span.btn-msg Saving..

                        a.btn.btn-default(ng-if="vm.action=='view'", ui-sref="app.trains-edit({id:vm.train.id})")
                            i.icon-pencil
                            | &nbsp;Edit
                        | &nbsp;
                        a.btn.btn-default(ui-sref="app.trains")
                            i.icon-arrow-left
                            | &nbsp;Back to list

client/app/views/train-form.html
<h3>Train Form
   <small ng-if="vm.action == 'upsert'">Fill the form and save a train</small>
</h3>
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <form name="vm.trainForm" data-parsley-trigger="blur" validate-form="" novalidate="" ng-submit="vm.save()">
            <div class="row">
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Number</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" required="required" ng-model="vm.train.number" placeholder="Train Number" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.train.number}}</span>
                  </div>
                  <div class="form-group">
                     <label>Name</label>
                     <input ng-if="vm.action == 'upsert'" name="name" type="text" required="required" ng-model="vm.train.name" placeholder="Train Name" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.train.name}}</span>
                  </div>
                  <div class="form-group">
                     <label>Start Station Code</label>
                     <select ng-if="vm.action == 'upsert'" required="required" ng-options="station.code as station.code for station in vm.stations" ng-model="vm.train.startStationCode" class="form-control">
                        <option value="">Select station code</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.train.startStationCode}}</span>
                  </div>
                  <div class="form-group">
                     <label>End Station Code</label>
                     <select ng-if="vm.action == 'upsert'" required="required" ng-options="station.code as station.code for station in vm.stations" ng-model="vm.train.endStationCode" class="form-control">
                        <option value="">Select station code</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.train.endStationCode}}</span>
                  </div>
                  <div class="form-group">
                     <label>Route</label>
                     <input ng-if="vm.action == 'upsert'" type="text" ng-model="vm.train.route" placeholder="Route" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.train.route}}</span>
                  </div>
                  <div class="form-group">
                     <label>Total Run Distance</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" required="required" ng-model="vm.train.totalRunDistance" placeholder="Total Run Distance" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.train.totalRunDistance}}</span>
                  </div>
                  <div class="form-group">
                     <label>Total Run Time (in minutes)</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" required="required" ng-model="vm.train.totalRunTime" placeholder="Total Run Time" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.train.totalRunTime}}</span>
                  </div>
                  <div class="form-group">
                     <label>Halts / Stoppages</label>
                     <input ng-if="vm.action == 'upsert'" type="text" ng-model="vm.train.halts" placeholder="Train Halts" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.train.halts}}</span>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Avg delay time (in minutes)</label>
                     <input ng-if="vm.action == 'upsert'" type="text" ng-model="vm.train.avgDelayTime" placeholder="Avg delay time" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.train.avgDelayTime}}</span>
                  </div>
                  <div class="form-group">
                     <label>Avg train speed</label>
                     <input ng-if="vm.action == 'upsert'" type="text" ng-model="vm.train.avgSpeed" placeholder="Avg train speed" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.train.avgSpeed}}</span>
                  </div>
                  <div class="form-group">
                     <label>Train Type</label>
                     <input ng-if="vm.action == 'upsert'" type="text" ng-model="vm.train.type" placeholder="Train Type" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.train.type}}</span>
                  </div>
                  <div class="form-group">
                     <label>Food Quality</label>
                     <select ng-if="vm.action == 'upsert'" ng-model="vm.train.foodQuality" class="form-control">
                        <option value="">Select food quality</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.train.foodQuality}}</span>
                  </div>
                  <div class="form-group">
                     <label>Clean</label>
                     <select ng-if="vm.action == 'upsert'" ng-model="vm.train.clean" class="form-control">
                        <option value="">Select option</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.train.clean}}</span>
                  </div>
                  <div class="form-group">
                     <label>Crowded</label>
                     <select ng-if="vm.action == 'upsert'" ng-model="vm.train.crowded" class="form-control">
                        <option value="">Select option</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.train.crowded}}</span>
                  </div>
                  <div class="form-group">
                     <label>Delay</label>
                     <select ng-if="vm.action == 'upsert'" ng-model="vm.train.delay" class="form-control">
                        <option value="">Select option</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                     </select>
                     <span ng-if="vm.action=='view'">: {{vm.train.delay}}</span>
                  </div>
                  <div class="form-group">
                     <label>Tickets Availability</label>
                     <input ng-if="vm.action == 'upsert'" type="text" ng-model="vm.train.ticketsAvailability" placeholder="Tickets Availability" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.train.ticketsAvailability}}</span>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>General Seats</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" ng-model="vm.train.generalSeats" placeholder="Train General Seats" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.train.generalSeats}}</span>
                  </div>
                  <div class="form-group">
                     <label>Sleeper Seats</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" ng-model="vm.train.sleeperSeats" placeholder="Train Sleeper Seats" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.train.sleeperSeats}}</span>
                  </div>
                  <div class="form-group">
                     <label>3AC Seats</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" ng-model="vm.train.3ACSeats" placeholder="3AC Seats" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.train.3ACSeats}}</span>
                  </div>
                  <div class="form-group">
                     <label>2AC Seats</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" ng-model="vm.train.2ACSeats" placeholder="2AC Seats" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.train.2ACSeats}}</span>
                  </div>
                  <div class="form-group">
                     <label>1AC Seats</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" ng-model="vm.train.1ACSeats" placeholder="1AC Seats" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.train.1ACSeats}}</span>
                  </div>
                  <div class="form-group">
                     <label>AC Sitting</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" ng-model="vm.train.ACSitting" placeholder="AC Sitting" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.train.ACSitting}}</span>
                  </div>
                  <div class="form-group">
                     <label>Non AC Sitting</label>
                     <input ng-if="vm.action == 'upsert'" type="text" data-parsley-type="number" ng-model="vm.train.nonACSitting" placeholder="Non AC Sitting" class="form-control" />
                     <span ng-if="vm.action=='view'">: {{vm.train.nonACSitting}}</span>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6">
                  <div class="form-group">
                     <label>Brief Writeup</label>
                     <textarea ng-if="vm.action == 'upsert'" type="text" ng-model="vm.train.briefWireup" placeholder="Train Brief Writeup" class="form-control"></textarea>
                     <span ng-if="vm.action=='view'">: {{vm.train.briefWireup}}</span>
                  </div>
                  <div class="form-group">
                     <label>Precautions and Comments</label>
                     <textarea ng-if="vm.action == 'upsert'" type="text" ng-model="vm.train.precoutionsAndComments" placeholder="Precautions and Comments" class="form-control"></textarea>
                     <span ng-if="vm.action=='view'">: {{vm.train.precoutionsAndComments}}</span>
                  </div>
                  <div class="form-group">
                     <div class="checkbox c-checkbox">
                        <label>
                           <input type="checkbox" ng-disabled="vm.action=='view'" ng-model="vm.train.pantryCheck" />
                           <span class="fa fa-check"></span>Pantry Check</label>
                     </div>
                  </div>
               </div>
            </div>
            <div nv-file-drop="nv-file-drop" uploader="vm.uploader" ng-if="!vm.noFiles" class="row">
               <div ng-hide="vm.action=='view'" style="margin-bottom:20px" class="col-md-3">
                  <h3>Train Images</h3>
                  <div ng-show="vm.uploader.isHTML5">
                     <div nv-file-drop="nv-file-drop" over-class="bg-info" uploader="vm.uploader" nv-file-over="another-file-over-class" class="box-placeholder my-drop-zone">Drop Files Here</div>
                  </div>
                  <input id="filestyle-0" type="file" data-button-text="Multiple" data-class-button="btn btn-default" data-class-input="form-control inline" nv-file-select="" uploader="vm.uploader" multiple="" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);"
                  class="form-control" />
                  <div class="bootstrap-filestyle input-group">
                     <input type="text" disabled="" class="form-control" />
                     <span tabindex="0" class="group-span-filestyle input-group-btn">
                        <label for="filestyle-0" class="btn btn-default">
                           <span class="fa fa-folder-open"></span>Select Files</label>
                     </span>
                  </div>
               </div>
               <div style="margin-bottom: 40px" ng-hide="vm.action=='view' || vm.uploader.queue.length === 0" class="col-md-9">
                  <h3>Upload queue</h3>
                  <p>Queue length: {{ vm.uploader.queue.length }}</p>
                  <table class="table">
                     <thead>
                        <tr>
                           <th width="50%">Name</th>
                           <th ng-show="vm.uploader.isHTML5">Size</th>
                           <th ng-show="vm.uploader.isHTML5">Progress</th>
                           <th>Status</th>
                           <th>Actions</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="item in vm.uploader.queue">
                           <td>
                              <strong>{{ item.file.name }}</strong>
                           </td>
                           <td ng-show="vm.uploader.isHTML5" nowrap="">{{item.file.size/1024/1024|number:2 }} MB</td>
                           <td ng-show="vm.uploader.isHTML5">
                              <div style="margin-bottom: 0;" class="progress">
                                 <div role="progressbar" ng-style="{ 'width': item.progress + '%' }" class="progress-bar"></div>
                              </div>
                           </td>
                           <td class="text-center">
                              <span ng-show="item.isSuccess"><i class="fa fa-check"></i>
                              </span>
                              <span ng-show="item.isCancel"><i class="fa icon-close"></i>
                              </span>
                              <span ng-show="item.isError"><i class="fa fa-trash"></i>
                              </span>
                           </td>
                           <td nowrap="">
                              <button type="button" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" class="btn btn-success btn-xs">
                                 <span class="icon-cloud-upload">&nbsp;</span>Upload</button>
                              <button type="button" ng-click="item.cancel()" ng-disabled="!item.isUploading" class="btn btn-warning btn-xs">
                                 <span class="fa icon-close">&nbsp;</span>Cancel</button>
                              <button type="button" ng-click="item.remove()" class="btn btn-danger btn-xs">
                                 <span class="fa fa-trash">&nbsp;</span>Remove</button>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <div>
                     <p>Queue progress:
                        <div style="" class="progress">
                           <div role="progressbar" ng-style="{ 'width': vm.uploader.progress + '%' }" class="progress-bar"></div>
                        </div>
                     </p>
                     <button type="button" ng-click="vm.uploader.uploadAll()" ng-disabled="!vm.uploader.getNotUploadedItems().length" class="btn btn-success">
                        <span class="icon-cloud-upload">&nbsp;</span>Upload all</button>
                     <button type="button" ng-click="vm.uploader.cancelAll()" ng-disabled="!vm.uploader.isUploading" class="btn btn-warning btn-s">
                        <span class="fa icon-close">&nbsp;</span>Cancel all</button>
                     <button type="button" ng-click="vm.uploader.clearQueue()" ng-disabled="!vm.uploader.queue.length" class="btn btn-danger btn-s">
                        <span class="icon-trash">&nbsp;</span>Remove all</button>
                  </div>
               </div>
               <div ng-show="vm.files.length" class="col-md-12">
                  <h3>Uploaded Images</h3>
               </div>
               <div style="margin-bottom: 40px" class="col-md-5">
                  <table class="table">
                     <tbody>
                        <tr ng-repeat="file in vm.files.slice(0, vm.halfLength)">
                           <td>
                              <a href="/api/containers/{{vm.containerId}}/download/{{file.name}}" target="blank">
                                 <img ng-src="/api/containers/{{vm.containerId}}/download/{{file.name}}" style="max-width:50px;" />
                              </a>
                           </td>
                           <td>
                              <a href="/api/containers/{{vm.containerId}}/download/{{file.name}}" target="blank">
                                 <strong>{{file.name}}</strong>
                              </a>
                           </td>
                           <td></td>
                           <td ng-hide="vm.action=='view'">
                              <button type="button" ng-click="vm.deleteFile($index, file.name)" title="Delete the file" class="btn btn-danger btn-xs">
                                 <span class="icon-trash">&nbsp;</span>Remove</button>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <div style="margin-bottom: 40px" class="col-md-5">
                  <table class="table">
                     <tbody>
                        <tr ng-repeat="file in vm.files.slice(vm.halfLength)">
                           <td>
                              <a href="/api/containers/{{vm.containerId}}/download/{{file.name}}" target="blank">
                                 <img ng-src="/api/containers/{{vm.containerId}}/download/{{file.name}}" style="max-width:50px;" />
                              </a>
                           </td>
                           <td>
                              <a href="/api/containers/{{vm.containerId}}/download/{{file.name}}" target="blank">
                                 <strong>{{file.name}}</strong>
                              </a>
                           </td>
                           <td></td>
                           <td ng-hide="vm.action=='view'">
                              <button type="button" ng-click="vm.deleteFile($index, file.name)" title="Delete the file" class="btn btn-danger btn-xs">
                                 <span class="icon-trash">&nbsp;</span>Remove</button>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <button type="submit" ng-if="vm.action == 'upsert'" ng-disabled="vm.saving" class="btn btn-default btn-success">
                     <span ng-hide="vm.saving"><i class="fa fa-save"></i>&nbsp;Save</span>
                     <span ng-show="vm.saving" class="uploading">
                        <span us-spinner="{radius:3, width:1, length: 5}"></span>
                        <span class="btn-msg">Saving..</span>
                     </span>
                  </button><a ng-if="vm.action=='view'" ui-sref="app.trains-edit({id:vm.train.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp;Edit</a>&nbsp;<a ui-sref="app.trains" class="btn btn-default"><i class="icon-arrow-left"></i>&nbsp;Back to list</a>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
