client/app/views/trainRoutes.html
<h3>TrainRoutes List
   <small>search and filter trainRoutes</small>
</h3>
<div class="row jobs completed">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div ng-show="loading" class="overlay">
            <div class="loading">
               <span us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}"></span>
               <div class="wait">Please wait..</div>
            </div>
         </div>
         <div class="panel-heading">
            <div class="row">
               <div class="col-md-6">
                  <div class="toolbar"><a ui-sref="app.trainRoutes-new" class="btn btn-default"><i class="icon-plus"></i>&nbsp;Add new</a>
                     <div class="btn file-input-wrap btn-default">
                        <input type="file" name="upfile" class="upload-select" />
                        <span ng-hide="vm.uploading"><i class="icon-cloud-upload"></i>&nbsp; Bulk upload</span>
                        <span ng-show="vm.uploading" class="uploading">
                           <span us-spinner="{radius:3, width:1, length: 5}"></span>
                           <span class="btn-msg">Uploading..</span>
                        </span>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="search-box">
                     <form class="form-horizontal">
                        <div class="form-group">
                           <label for="search-input" class="col-sm-4 no-pr control-label">Search all columns:</label>
                           <div class="col-sm-8">
                              <input id="search-input" type="text" ng-keyup="vm.search()" ng-model="vm.searchQuery" placeholder="Search for..." class="form-control" />
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <table class="trainRoutes-datatable table table-striped table-hover">
               <thead>
                  <tr>
                     <th>SNo</th>
                     <th>Train #</th>
                     <th>Station Code</th>
                     <th>Sort order number</th>
                     <th>Platform #</th>
                     <th>Average delay</th>
                     <th>Halt Time</th>
                     <th>Arrival Time</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               <thead class="filters">
                  <tr>
                     <th>
                        <input type="text" placeholder="Filter SNo" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Train #" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Station Code" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Sort order number" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Platform #" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Average delay" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Halt Time" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Arrival Time" class="form-control input-sm datatable_input_col_search" />
                     </th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="trainRoute in vm.trainRoutes" ng-class="trainRoute.id">
                     <td>{{trainRoute.sNo}}</td>
                     <td>{{trainRoute.trainNo}}</td>
                     <td>{{trainRoute.stationCode}}</td>
                     <td>{{trainRoute.sortOrderNumber}}</td>
                     <td>{{trainRoute.platformNo}}</td>
                     <td>{{trainRoute.haltTime}}</td>
                     <td>{{trainRoute.averageDelay}}</td>
                     <td>{{trainRoute.arrivalTime}}</td>
                     <td style="min-width:170px">
                        <div dropdown="dropdown" class="btn-group"><a type="button" ui-sref="app.trainRoutes-edit({id:trainRoute.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp Edit</a>
                           <button type="button" dropdown-toggle="" class="btn dropdown-toggle btn-default">
                              <span class="caret"></span>
                           </button>
                           <ul role="menu" class="dropdown-menu">
                              <li><a ui-sref="app.trainRoutes-view({id:trainRoute.id})"><i class="icon-magnifier"></i>&nbsp View</a>
                              </li>
                              <li><a href="javascript:void(0)" ng-click="vm.delete(trainRoute.id)"><i class="icon-trash"></i>&nbsp Delete</a>
                              </li>
                           </ul>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

client/master/jade/views/trainRoutes.jade
include helpers.jade
h3 TrainRoutes List
    small search and filter trainRoutes
.row.jobs.completed
    .col-lg-12
        .panel.panel-default
            .overlay(ng-show="loading")
                .loading
                    span(us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}")
                    .wait Please wait..
            +toolbar('trainRoute', true)
            .panel-body
                table.trainRoutes-datatable.table.table-striped.table-hover
                    thead
                        tr
                            th SNo
                            th Train #
                            th Station Code
                            th Sort order number
                            th Platform #
                            th Average delay
                            th Halt Time
                            th Arrival Time
                            th Actions
                    thead.filters
                        tr
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter SNo')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Train #')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Station Code')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Sort order number')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Platform #')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Average delay')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Halt Time')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Arrival Time')
                    tbody
                        tr(ng-repeat="trainRoute in vm.trainRoutes", ng-class="trainRoute.id")
                            td {{trainRoute.sNo}}
                            td {{trainRoute.trainNo}}
                            td {{trainRoute.stationCode}}
                            td {{trainRoute.sortOrderNumber}}
                            td {{trainRoute.platformNo}}
                            td {{trainRoute.haltTime}}
                            td {{trainRoute.averageDelay}}
                            td {{trainRoute.arrivalTime}}
                            td(style="min-width:170px")
                                +dropdown_split('trainRoute')
