client/master/jade/views/trips.jade
h3 Trips List
    small search and filter trips

.row.jobs.completed
    .col-lg-12
        .panel.panel-default
            .overlay(ng-show="loading")
                .loading
                    span(us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}")
                    .wait Please wait..
            .panel-heading
                .row
                    .col-md-6
                        .toolbar
                            a.btn.btn-default(ui-sref="app.trips-new")
                                i.icon-plus
                                | &nbsp;Add new
                    .col-md-6
                        .search-box
                            form.form-horizontal
                                .form-group
                                    label.col-sm-4.no-pr.control-label(for="search-input") Search all columns:
                                    .col-sm-8
                                        input#search-input.form-control(type="text", ng-keyup="vm.search()", ng-model="vm.searchQuery", placeholder="Search for...")

            .panel-body
                table.trips-datatable.table.table-striped.table-hover
                    thead
                        tr
                            th Name
                            th PNR
                            th Customer
                            th Rating
                            th Added On
                            th Updated On
                            th Actions

                    thead.filters
                        tr
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Name')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter PNR')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Customer')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Rating')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Added On')
                            th
                                input.form-control.input-sm.datatable_input_col_search(type='text', placeholder='Filter Updated On')
                    tbody
                        tr(ng-repeat="trip in vm.trips", ng-class="trip.id")
                            td {{trip.name}}
                            td {{trip.PNR.pnr}}
                            td {{trip.customer.name}}
                            td {{trip.rating}}
                            td {{trip.addedOn | date:'MM/dd/yy h:mma'}}
                            td {{trip.updatedOn | date:'MM/dd/yy h:mma'}}
                            td
                                a.btn.btn-default(ui-sref="app.trips-view({id:trip.id})")
                                    i.icon-magnifier
                                    | &nbsp;View
                                |&nbsp;
                                a.btn.btn-default(ui-sref="app.trips-edit({id:trip.id})")
                                    i.icon-pencil
                                    | &nbsp;Edit
                                |&nbsp;
                                a.btn.btn-default(ng-click="vm.delete(trip.id)")
                                    i.icon-trash
                                    | &nbsp;Delete
                                |&nbsp;
                                a.btn.btn-default(ng-click="vm.showAlarms(trip.id)")
                                    i.icon-clock
                                    | &nbsp;Alarms

client/app/views/trips.html
<h3>Trips List
   <small>search and filter trips</small>
</h3>
<div class="row jobs completed">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div ng-show="loading" class="overlay">
            <div class="loading">
               <span us-spinner="{radius:13,lines:13, width:2, hwaccel: true, length: 13, color:'#2c2c2c'}"></span>
               <div class="wait">Please wait..</div>
            </div>
         </div>
         <div class="panel-heading">
            <div class="row">
               <div class="col-md-6">
                  <div class="toolbar"><a ui-sref="app.trips-new" class="btn btn-default"><i class="icon-plus"></i>&nbsp;Add new</a>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="search-box">
                     <form class="form-horizontal">
                        <div class="form-group">
                           <label for="search-input" class="col-sm-4 no-pr control-label">Search all columns:</label>
                           <div class="col-sm-8">
                              <input id="search-input" type="text" ng-keyup="vm.search()" ng-model="vm.searchQuery" placeholder="Search for..." class="form-control" />
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="panel-body">
            <table class="trips-datatable table table-striped table-hover">
               <thead>
                  <tr>
                     <th>Name</th>
                     <th>PNR</th>
                     <th>Customer</th>
                     <th>Rating</th>
                     <th>Added On</th>
                     <th>Updated On</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               <thead class="filters">
                  <tr>
                     <th>
                        <input type="text" placeholder="Filter Name" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter PNR" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Customer" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Rating" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Added On" class="form-control input-sm datatable_input_col_search" />
                     </th>
                     <th>
                        <input type="text" placeholder="Filter Updated On" class="form-control input-sm datatable_input_col_search" />
                     </th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="trip in vm.trips" ng-class="trip.id">
                     <td>{{trip.name}}</td>
                     <td>{{trip.PNR.pnr}}</td>
                     <td>{{trip.customer.name}}</td>
                     <td>{{trip.rating}}</td>
                     <td>{{trip.addedOn | date:'MM/dd/yy h:mma'}}</td>
                     <td>{{trip.updatedOn | date:'MM/dd/yy h:mma'}}</td>
                     <td><a ui-sref="app.trips-view({id:trip.id})" class="btn btn-default"><i class="icon-magnifier"></i>&nbsp;View</a>&nbsp;<a ui-sref="app.trips-edit({id:trip.id})" class="btn btn-default"><i class="icon-pencil"></i>&nbsp;Edit</a>&nbsp;
                        <a
                        ng-click="vm.delete(trip.id)" class="btn btn-default"><i class="icon-trash"></i>&nbsp;Delete</a>&nbsp;<a ng-click="vm.showAlarms(trip.id)" class="btn btn-default"><i class="icon-clock"></i>&nbsp;Alarms</a>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
