client/app/pages/login.html
<div ng-controller="LoginFormController as vm" class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <img src="app/img/TrainPanda.png" alt="App Logo" class="app-logo-login img-responsive" />
         </a>
      </div>
      <div class="panel-body">
         <p class="text-center pv">SIGN IN TO CONTINUE.</p>
         <form role="form" data-parsley-trigger="blur" name="loginForm" ng-submit="vm.login()" validate-form="" novalidate="" class="mb-lg">
            <div class="form-group has-feedback">
               <input id="exampleInputEmail1" type="email" placeholder="Enter email" autocomplete="off" ng-model="vm.account.email" required="required" class="form-control" />
               <span class="fa fa-envelope form-control-feedback text-muted"></span>
            </div>
            <div class="form-group has-feedback">
               <input id="exampleInputPassword1" type="password" placeholder="Password" ng-model="vm.account.password" required="required" class="form-control" />
               <span class="fa fa-lock form-control-feedback text-muted"></span>
            </div>
            <div class="clearfix">
               <div class="checkbox c-checkbox pull-left mt0">
                  <label>
                     <input type="checkbox" value="" name="remember" ng-model="vm.account.rememberMe" />
                     <span class="fa fa-check"></span>Remember Me</label>
               </div>
               <div class="pull-right"><a ui-sref="page.recover" class="text-muted">Forgot your password?</a>
               </div>
            </div>
            <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-block btn-primary mt-lg">Login</button>
         </form>
         <div ng-show="vm.authMsg" class="alert alert-danger text-center">{{vm.authMsg}}</div>
         <!--p.pt-lg.text-center Need to Signup?-->
         <!--a(ui-sref="page.register").btn.btn-block.btn-default Register Now-->
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>

client/master/jade/pages/login.jade
.block-center.mt-xl.wd-xl(ng-controller="LoginFormController as vm")
    // START panel
    .panel.panel-dark.panel-flat
        .panel-heading.text-center
            a(href="#")
                img.app-logo-login.img-responsive(src="app/img/TrainPanda.png", alt="App Logo")
        .panel-body
            p.text-center.pv SIGN IN TO CONTINUE.
            form(role='form', data-parsley-trigger="blur", name="loginForm", ng-submit="vm.login()", validate-form='', novalidate='').mb-lg
                .form-group.has-feedback
                    input#exampleInputEmail1.form-control(type='email', placeholder='Enter email', autocomplete="off", ng-model="vm.account.email", required)
                    span.fa.fa-envelope.form-control-feedback.text-muted
                .form-group.has-feedback
                    input#exampleInputPassword1.form-control(type='password', placeholder='Password', ng-model="vm.account.password", required)
                    span.fa.fa-lock.form-control-feedback.text-muted
                .clearfix
                    .checkbox.c-checkbox.pull-left.mt0
                        label
                            input(type='checkbox', value='', name="remember", ng-model="vm.account.rememberMe")
                            span.fa.fa-check
                            |  Remember Me
                    .pull-right
                        a.text-muted(ui-sref="page.recover") Forgot your password?

                button.btn.btn-block.btn-primary.mt-lg(type='submit', ng-disabled="loginForm.$invalid") Login

            .alert.alert-danger.text-center(ng-show='vm.authMsg') {{vm.authMsg}}
            //p.pt-lg.text-center Need to Signup?
            //a(ui-sref="page.register").btn.btn-block.btn-default Register Now
    // END panel
    .p-lg.text-center
        span &copy;
        span(ng-bind="app.year")
        span  -
        span(ng-bind="app.name")
        br
        span(ng-bind="app.description")
