client/master/jade/views/partials/top-navbar.jade
// START Top Navbar
nav.navbar.topnavbar(role='navigation')
    // START navbar header
    .navbar-header
        a.navbar-brand(href='#/')
            .brand-logo
                img.img-responsive(src="app/img/TrainPanda.png", alt="App Logo")
            .brand-logo-collapsed
                img.img-responsive(src="app/img/TrainPanda.png", alt="App Logo")
    // END navbar header

    // START Nav wrapper
    .nav-wrapper
        // START Left navbar
        ul.nav.navbar-nav
            li
                // Button used to collapse the left sidebar. Only visible on tablet and desktops
                a(href='#', ng-click="app.layout.isCollapsed = !app.layout.isCollapsed").hidden-xs
                    em.fa.fa-navicon
                // Button to show/hide the sidebar on mobile. Visible on mobile only.
                a(href='#', toggle-state="aside-toggled", no-persist).visible-xs.sidebar-toggle
                    em.fa.fa-navicon
            // START User avatar toggle
            li
                // Button used to collapse the left sidebar. Only visible on tablet and desktops
                a(href='#', ng-click="toggleUserBlock()")
                    em.icon-user
            // END User avatar toggle
            // START lock screen
            li
                a(ng-click="logout()", title="Logout")
                    i.fa.fa-sign-out
            // END lock screen
        // END Left navbar

        // START Right Navbar
        ul.nav.navbar-nav.navbar-right
            // Fullscreen (only desktops)
            li.visible-lg
                a(href='#', toggle-fullscreen)
                    em.fa.fa-expand
            // END Contacts menu
        // END Right Navbar
    // END Nav wrapper

    // START Search form
    form.navbar-form(role='search', action="search.html")
        .form-group.has-feedback
            input.form-control(type='text', placeholder="{{ 'topbar.search.PLACEHOLDER' | translate }}")
            .fa.fa-times.form-control-feedback(search-dismiss)
        button.hidden.btn.btn-default(type='submit') Submit
    // END Search form

// END Top Navbar

client/app/views/partials/top-navbar.html
<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
   <!-- START navbar header-->
   <div class="navbar-header">
      <a href="#/" class="navbar-brand">
         <div class="brand-logo">
            <img src="app/img/TrainPanda.png" alt="App Logo" class="img-responsive" />
         </div>
         <div class="brand-logo-collapsed">
            <img src="app/img/TrainPanda.png" alt="App Logo" class="img-responsive" />
         </div>
      </a>
   </div>
   <!-- END navbar header-->
   <!-- START Nav wrapper-->
   <div class="nav-wrapper">
      <!-- START Left navbar-->
      <ul class="nav navbar-nav">
         <li>
            <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
            <a href="#" ng-click="app.layout.isCollapsed = !app.layout.isCollapsed" class="hidden-xs">
               <em class="fa fa-navicon"></em>
            </a>
            <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
            <a href="#" toggle-state="aside-toggled" no-persist="no-persist" class="visible-xs sidebar-toggle">
               <em class="fa fa-navicon"></em>
            </a>
         </li>
         <!-- START User avatar toggle-->
         <li>
            <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
            <a href="#" ng-click="toggleUserBlock()">
               <em class="icon-user"></em>
            </a>
         </li>
         <!-- END User avatar toggle-->
         <!-- START lock screen-->
         <li><a ng-click="logout()" title="Logout"><i class="fa fa-sign-out"></i></a>
         </li>
         <!-- END lock screen-->
      </ul>
      <!-- END Left navbar-->
      <!-- START Right Navbar-->
      <ul class="nav navbar-nav navbar-right">
         <!-- Fullscreen (only desktops)-->
         <li class="visible-lg">
            <a href="#" toggle-fullscreen="toggle-fullscreen">
               <em class="fa fa-expand"></em>
            </a>
         </li>
         <!-- END Contacts menu-->
      </ul>
      <!-- END Right Navbar-->
   </div>
   <!-- END Nav wrapper-->
   <!-- START Search form-->
   <form role="search" action="search.html" class="navbar-form">
      <div class="form-group has-feedback">
         <input type="text" placeholder="{{ 'topbar.search.PLACEHOLDER' | translate }}" class="form-control" />
         <div search-dismiss="search-dismiss" class="fa fa-times form-control-feedback"></div>
      </div>
      <button type="submit" class="hidden btn btn-default">Submit</button>
   </form>
   <!-- END Search form-->
</nav>
<!-- END Top Navbar-->
